[2019-08-27 11:01] #325 closed

[2019-08-27 11:13] jeromekelleher opened #344 "Appveyor builds broken"
[code]

Possibly something to do with upstream changes in pinned numpy version in conda-forge?

[2019-08-27 11:19] jeromekelleher commented on #344
Possibly the issue here is with different numpy pinning on msprime and tskit. Running a rebuild on msprime-feedstock to rule this out: https://github.com/conda-forge/msprime-feedstock/pull/37

[2019-08-27 16:08] hyanwong commented on #325
OK. As you can probably tell, I'm not convinced, but I'm also not convincing anyone else.

My take, along with @petrelharp, is that it's not an error to have a mutation above an isolated node. As a user (rather than a developer), I would expect to find that if I rewrote any ancestral history, I might well make the TS invalid somehow, so I see that as a reasonable case where an error would be throw

[2019-08-27 16:11] petrelharp opened #346 "add `mask` option to stats"
This is going to be necessary for stdpopsim. We can do it easily in python at first as I [did here](https://github.com/petrelharp/treestats_ms/blob/c706c88a882646fa5d4a627a970101cdaf961646/figures/plot_1kg_diversity.py#L88).

[2019-08-27 17:05] jeromekelleher commented on #346
Agreed. As discussed somewhere in #261, I think the ``mask`` argument should be a 2D numpy array with shape (N, 2) so that we would mask out two regions with something like

[code]
We can use the recently added interval operations in util.py to parse these mask arguments.

[2019-08-27 17:06] jeromekelleher commented on #346
As discussed, we're not sure when these are needed though. I'm provisionally adding them to a new 0.2.3 milestone, but we can promote to 0.2.2 if we want.

[2019-08-27 17:11] jeromekelleher commented on #325
We can't really do this with the mechanism for passing back errors from C (an integer code)

There hasn't really been any compelling arguments in favour of this, so I don't see any motivation for changing it at the moment.

[2019-08-27 17:20] hyanwong commented on #325
Oh yes. How annoying (especially for large tree sequences). There isn't any efficient way to catch the error in python and look through there for the problematic site, I guess?

I can think of a few, but this is a long term discussion to be had with @petrelharp too - perhaps at probgen?

[2019-08-28 08:52] jeromekelleher commented on #262
We didn't end up implementing this before 0.2.1 got released, so we'll need to keep ``map_ancestors`` as a deprecated alias now. I think we can just 'undocument' it though and we don't need to formally deprecate it.

[2019-08-28 08:55] jeromekelleher commented on #71
This has been resolved I think. Can be reopened if it's still an issue.

[2019-08-28 08:55] #71 closed

[2019-08-28 09:01] jeromekelleher commented on #17
What are your thoughts on this now @petrelharp --- we've done the allele counting under the hood in C. Do we want to expose an interface to this?

[2019-08-28 09:06] jeromekelleher commented on #344
Looks like it might be this issue: https://github.com/ContinuumIO/anaconda-issues/issues/10628

[2019-08-28 12:24] #344 closed

[2019-08-28 12:24] #87 closed

[2019-08-28 13:14] #341 closed

[2019-08-28 16:24] apragsdale opened #347 "Support genetic coordinates"
Is there currently a nice way to record the genetic positions (instead of only physical positions (bp)) in tree sequences? Suppose I simulate with some recombination map (or have data encoded as a tree sequence, and want to store genetic positions of sites or tree intervals using some external map) - what is the best way to have this information accessible within the tree sequence object?

For exa

[2019-08-28 17:41] jeromekelleher commented on #347
The only way to do this at the moment would be to translate the coordinates on-demand @apragsdale. This should be straightforward enough to do though:

[code]

It might not be the most efficient, but I doubt it would be much of a time-sink in practise.

We don't have any concept of genetic coordinates within the tree sequence at the moment, just physical. I guess we could add support in two differ

[2019-08-28 17:56] #347 closed, assigned to nobody

[2019-08-28 23:05] petrelharp commented on #325
This falls in the category of making bookkeeping easier up front but complicating things down the road. Let's revisit if we have a convincing use case (so, a situation where allowing these would really make our lives easier in a quantifiable way).

[2019-08-28 23:08] petrelharp commented on #17
I was proposing this for use in computing statistics, in C really. I think we do not need a python interface. The only use I can think of would be to provide a python iterator over allele frequencies, but this is easy using the variants iterator and kinda niche. I'll close this.

[2019-08-28 23:08] #17 closed

[2019-08-29 07:09] jeromekelleher commented on #347
It's a good idea @apragsdale, but not pressing enough to follow up on right now I think.

[2019-08-29 18:07] petrelharp opened #351 "SLiM sometimes leaves NaNs in individuals/location"
So currently SLiM does not initialize memory for individual location, and so if spatial locations are not set then these might contain NaNs. I can't provide a MWE because this depends on what was in the memory, but also note it is possible to *explicitly* set locations to NaN in SLiM:
[code]
so that we get
[code]

I am unclear about the extent of the problem; it may be platform-dependent. This is

[2019-08-29 19:36] bhaller commented on #351
Re: how SLiM ought to behave, I would note two things.  One, if we want to provide a default value for location data for non-spatial simulations then it would probably be NaN (no other value makes as much sense), so from that perspective NaN ought to be allowed.  Two, I really don't want to require SLiM to initialize these values; if you have 1 million individuals in a model, with x y z locations

[2019-08-29 20:06] jeromekelleher commented on #351
Quick question: why not output 0D locations rather than nans? That way there's no initialisation required and tskit is happy.

[2019-08-29 20:08] jeromekelleher commented on #351
Locations are a ragged array, you can mix 1d with 2d with 0d if you want.

[2019-08-29 20:37] bhaller commented on #351
Well, @petrelharp and I decided to always write out the location values, whether the model is spatial or not, back when we did this stuff in the first place; I don't recall exactly why, but presumably simplicity/consistency factored in.  Then there is also the fact that (1) the x/y/z properties are available for use even in non-spatial models, and (2) the x/y/z properties do not, in fact, actually

[2019-08-30 08:01] jeromekelleher commented on #351
Well, IMO, if bioinformatics has taught us anything it's that flexibility is not necessarily a good thing. The point of enforcing restrictions on input data is that users should be able to analyse tree sequences with the same code regardless of what program produced them. All of this is about providing users with a consistent experience. I don't think it can be a good thing that sometimes SLiM pro

[2019-08-31 10:30] hyanwong commented on #326
I think we need to distinguish between (a) tree sequences that using the (msprime default) infinite sites mutation model and (b) tree sequences that have sites at integer positions (and hence probably use [finite mutation models](https://github.com/tskit-dev/msprime/issues/553) ). There are two possible ways to output haplotypes:

* Each haplotype is output as a 1D numpy array. This makes sense in

[2019-08-31 12:51] hyanwong commented on #344
I'm getting this on my tsinfer builds now: https://ci.appveyor.com/project/tskit-dev/tsinfer/builds/27093177 - how did you fix it?

[2019-08-31 12:53] hyanwong commented on #344
@jeromekelleher - sorry - didn't see the link to your fix in https://github.com/tskit-dev/tskit/pull/345. I'll try implementing that for the tsinfer framework

[2019-09-01 03:55] petrelharp commented on #351
I agree, this is the way to go.

[2019-09-01 08:35] jeromekelleher commented on #303
Closed in #324

[2019-09-01 08:35] #303 closed

[2019-09-01 09:15] jeromekelleher commented on #351
Ok, great, I'll push out the release today. Conda packages should follow quickly.

[2019-09-01 09:24] jeromekelleher opened #353 "Finalise semantics of fasta output"
Pending some issues being worked out about what do when we have floating point site positions and integer site positions (see #326, #350)

[2019-09-01 09:39] #351 closed

[2019-09-02 16:10] petrelharp commented on #146
I'm redirecting discussion from #326 over here, where I think it belongs. There, @hyanwong wrote:

Instead of guessing based on whether positions are all integers we should instead do something cleaner. Here are two non-mutually-exclusive options:

1. have a `reference_sequence` property of tree sequences, which might be NULL, and then have things like haplotypes and fasta output optionally use th

[2019-09-02 16:11] petrelharp commented on #326
Much of this seems like a different discussion, to be discussed in #146.

[2019-09-02 16:21] hyanwong commented on #146
Yes, that would be much better.

Nice idea.

It's not strictly necessary to have recombinations at integer positions, of course, but I suppose it is the option most likely to be needed by users.

Are you suggesting that the `position` in a FiniteSitesTreeSequence is stored as a C double, but converted to an integer in the python accessor functions?

[2019-09-03 05:31] bhaller commented on #351
Thanks for the quick turnaround!

[2019-09-04 16:25] petrelharp opened #357 "enumerate general properties that statistics should have"
I'm opening this to keep a list of these things (part of discussion with @molpopgen), to add to the docs. So far, unless there's a good reason otherwise:

1. A statistic should not change with the addition of invariant sites.
2. If `sts = ts.simplify(A)` then `ts.stat([A], ...)` should equal `sts.stat([sts.samples()], ...)`.
3. The "site" version should be computable using only the genotype matrix

[2019-09-05 09:58] hyanwong commented on #59
Presumably this can now be closed?

[2019-09-05 10:07] hyanwong opened #360 "Iterator over parents of a node in a tree"
A few times now I have wanted to traverse up a tree from a given node, visiting all the parents (in any order, as it happens). I can presumably do this like:

[code]

But I'm wondering if (a) there is a more efficient (numpy) way to do this and (b) if we want to provide a python API function so that others don't have to re-write this each time. Ping @awohns, since I think his dating code may use t

[2019-09-05 23:18] petrelharp commented on #360
Hah, I was just now doing this, [right here](https://github.com/petrelharp/big_small/blob/14c8d00e71782b4e16b67117c8ebde7025bb1ea4/sims/spatial_slim/__init__.py#L68), and it was taking a long time to do, so I was wishing there was a faster way to do it.

So, there's two issues: one is making a python interface so that people don't have to write the three lines above themselves. I actually don't th

[2019-09-06 21:10] hyanwong opened #361 "Filter mutations not on edges during simplify"
It would be nice to be able to remove mutations (but not sites) that are above nodes that are not children in any edges. I can imagine cases where at the same site, some mutations are still relevant (i.e. on a lineage) and some are free-floating.

This is, I think another angle to https://github.com/tskit-dev/tskit/issues/260

[2019-09-07 09:45] hyanwong opened #362 "Efficient way to count number of isolated samples on a tree?"
I'm not sure if this deserves an issue, but there isn't a tskit mailing list yet (are we getting to the point where there should be?), and I can close if it's obvious.

Now that we indicate missing data using [isolated nodes](https://tskit.readthedocs.io/en/latest/data-model.html#sec-data-model-missing-data), is there an efficient way of finding the number of non-missing samples in a `Tree`? I cou

[2019-09-08 03:56] petrelharp commented on #362
Well,
[code]
should get it reasonbly efficiently, but you're right, this'd be a good thing to have. Really, though, we should come up with a list of things operations we'd like to do about missing data, to have a consistent API about it?

[2019-09-08 03:58] petrelharp commented on #361
Hm, interesting. Do you need this for something in particular?

[2019-09-08 23:50] angelgr2 commented on #301
Hello Jerome and Peter,

I am dealing with this issue at the moment, I believe. I used `pyslim` to build a `SLiM` simulation, and imported the resulting tree sequence into `tskit`/`msprime` to generate neutral mutations and complete the coalescence. I know the process works because I was able to plot genetic diversity and it behaves as expected (I was in fact following Peter's Twitter tutorial). H

[2019-09-09 03:29] petrelharp commented on #301
Hello! Happily, I've written more on this - could you have a look at [this vignette](https://pyslim.readthedocs.io/en/latest/vignette_space.html#simplification-and-vcf-output) and see if this answers your questions? If this still doesn't work, please post the code you are using and the output (with an explanation of why it's wrong, if necessary) as a new issue.
thanks!

[2019-09-09 10:50] hyanwong commented on #361
Well, @marianne-aspbury and I are trying to deal with simulations where we only have fragments of the sequence in a sample. We are doing this by doing a full simulation, then throwing away regions of sequence by marking them as missing. This leaves orphan mutations, not on any edge.

Since we are doing this in msprime, an easy solution for us would be to simply add on the mutations *after* truncat

[2019-09-09 10:51] hyanwong commented on #362
Thanks @petrelharp. I agree re deeper thinking about what we want for simulations with missing data. We are starting to hitting these issues when using truncated samples (see https://github.com/tskit-dev/tskit/issues/361#issuecomment-529413956).

Re this specific problem, I wondered if iterating over all the samples for each tree would be tedious for large sample sizes (and for the record I think

[2019-09-09 16:59] petrelharp commented on #361
Let's move discussion of this over to #260?

[2019-09-09 17:02] petrelharp commented on #260
Over in #361 (which I suggest we merge into this one), @hyanwong suggests that we make it possible to filter not only *fixed* mutations (ie ones that all samples have) but more generally, mutations above nodes with no parents. We don't want to do *only* this, since in some applications we definately want to keep these (for instance, in slim pre-recapitation), but this could be another option. I su

[2019-09-09 17:02] petrelharp commented on #362
Come to think of it, we could almost do this as a Node statistic.

[2019-09-09 21:52] angelgr2 commented on #301
Hi Peter. Thanks for the help. Will try that right away.

[2019-09-10 02:54] angelgr2 commented on #301
Hi Peter and Jerome,

I was able to obtain the VCF. I used part of the information from your vignette, but ended up simplifying it since I didn't a lot of the extra info (like the samples belonging to the groups).

Here's an example of my (very rough) code:

[code]

Hopefully I don't have any confusion with the use of nodes vs samples. Also, is this a correct use of the `ts.individuals_alive_at()`

[2019-09-10 04:16] petrelharp commented on #301
Glad the vignette helped. But, as you suspected, this is wrong:
[code]
Individuals and nodes are *not* the same thing - you should think of *nodes* as chromosomes, of which diploid *individuals* have two. [Here's](https://tskit.readthedocs.io/en/latest/data-model.html#nodes-genomes-or-individuals) an explanation for the terminology. There's an example of how to pull out the nodes corresponding to

[2019-09-10 04:16] petrelharp commented on #301
ps if you have further issues, could you please post them to the SLiM email list?

[2019-09-10 10:07] hyanwong opened #363 "Remove arbitrary sites from a tree sequence"
I keep using something like the function below. Should we tidy it up and add it to the API? It seems useful to me (it's also coded up semi-independently as `remove sites` in https://github.com/tskit-dev/tskit/pull/292)

[code]

[2019-09-10 15:18] angelgr2 commented on #301
Hi Peter,

Changed from `nodes(u)` to `individual(u)`, as you suggested. I need to double check my output, but it seems to work.

I do have some questions, but I will move them to the mailing list instead.

Thanks again,
Angel

[2019-09-10 16:40] petrelharp commented on #363
Perhaps as a method of the TableCollection? If you have use for it, then sure?

[2019-09-11 10:47] jeromekelleher commented on #59
Yes, closed in #285.

[2019-09-11 10:47] #59 closed

[2019-09-11 11:06] jeromekelleher commented on #362
I don't think we can do any better than iterating over the roots, and checking to see if they are isolated samples. I think it's reasonable to assume that number of missing samples << total number of samples for now. I don't think it'll end up being that expensive in practise.

We can add a ``num_isolated_samples`` property (or something similar) which does this  to the Tree class to make this mor

[2019-09-11 11:17] jeromekelleher commented on #360
Agreed --- we're not going to be able to do it any more efficiently anyway unless we do it in C.

This is going to be tricky to do, as numpy doesn't do ragged arrays very well. I don't think we're going to make anyone's code faster with an interface like this to be honest --- at some point you end up just having to do stuff with loops. We'd be better off putting effort into making sure that things

[2019-09-11 11:17] #360 closed

[2019-09-11 11:19] jeromekelleher commented on #260
Yes, this should be doable I think, and I agree it's a good option to have.

[2019-09-11 11:20] jeromekelleher commented on #361
This is a good thing to merge in with #260. Shall we close this issue then (we still have a link back to it)?

[2019-09-11 11:21] hyanwong commented on #361
Sure

[2019-09-11 11:21] #361 closed

[2019-09-11 11:22] jeromekelleher commented on #363
Other people have used similar thing to this all right (say, to get rid of sites with low-frequency mutations). I'm not overly keen on the name though. Maybe ``filter_sites`` or something?

[2019-09-11 11:26] hyanwong commented on #362
I probably misunderstood. I took the `O(n_roots)` comment in the docs to mean that, if we had a large number of roots in the tree (say 20 missing samples out of 100), then iterating through the roots would be `O(20)`, which seems bad to me. But perhaps getting a list of the roots in a tree is actually not such a performance hit?

[2019-09-11 11:30] hyanwong commented on #363
Right - the name was just picked from thin air. Happy with whatever seems sensible (I previously used `remove_sites`). If we use `filter_sites(to_remove=None)` that allows us to keep the option of adding an additional `to_keep` parameter later, if that seems useful.

Presumably `to_remove` could either be a boolean array of the same length as `num_sites`, or a list of integer indices, used to inde

[2019-09-11 11:34] jeromekelleher commented on #362
Yes, it's the number of roots. But these arguments only matter if you have say 100K samples. If you only have 100 samples then it makes no difference at all how you compute things. Unless you are actually working with genuinely large trees there's no point in worrying about performance in terms of this stuff.

[2019-09-11 18:21] jeromekelleher commented on #363
Lets use ``delete_sites`` --- this mirrors the terminology for ``delete_intervals``.

[2019-09-12 01:58] hyanwong opened #365 "Return a numpy list of ids when calling append_columns() on a table"
I was expecting to be able to get the list of appended rows, like you do when you do add_row() on a table. The fact that you need to check beforehand what the number of rows are, so you can keep track of the appended row ids is not obvious. I think we can add a return value in easily enough without breaking existing code.

[2019-09-12 07:52] jeromekelleher commented on #365
Good idea. Can you sketch out an example use in Python code please?

[2019-09-19 10:31] hyanwong commented on #363
This is done. Anyone want to review https://github.com/hyanwong/tskit/commit/6be14754b80f70366e3905697e5748af848961ed

[2019-09-23 05:14] gtsambos commented on #262
Hello, just returning to this because I'm about to code up the bit of `slime` that depends on this function, and it would be good to have the function name settled ( this will also make our write-up of it easier -- I'll send a separate email about this later in the week or early next)

Just want to confirm that `link_ancestors` is still okay for everyone? If so, I'll open a pull request for the ch

[2019-09-23 11:22] jeromekelleher commented on #262
Yep, that'd be great thanks @gtsambos. See above the note about keeping the ``map_ancestors`` as an alias on the external Python API though.

[2019-09-23 12:49] jeromekelleher opened #366 "CI failing on OSX"
Travis builds on OSX are failing with some problem due to certifi, e.g. (https://travis-ci.org/tskit-dev/tskit/jobs/588432325)

[code]

[2019-09-23 14:05] hyanwong commented on #366
Perhaps using `pip install --ignore-installed` would help here? https://github.com/blockstack/blockstack-core/issues/504

[2019-09-23 14:11] jeromekelleher commented on #366
Do you want to try it out? I don't have time to sort this out I'm afraid.

[2019-09-23 14:15] hyanwong commented on #366
Happy to try

[2019-09-23 18:15] hyanwong commented on #366
Adding `- pip install --ignore-installed certifi` seems a bit hacky, but as it's only in the travis file, I guess that's OK.

I also cherry-picked this onto #320 to check it really did allow this to work now (it does). Up to you if you want to merge this PR first, in which case I can rebase #320, or simply merge #320 and  forget about this PR.

[2019-09-24 11:46] #366 closed

[2019-09-24 13:28] #363 closed

[2019-09-25 05:40] gtsambos commented on #236
Unfortunately I think there are still some problems with `draw_svg`. It doesn't seem to notice when `simplify` has been applied to a tree sequence. In the screenshot below, the census nodes are the samples of the simplified tree sequence. The normal `draw` method prints these truncated trees correctly but `draw_svg` doesn't

![Screen Shot 2019-09-25 at 3 35 09 pm](https://user-images.githubusercon

[2019-09-25 09:16] jeromekelleher commented on #236
That's weird; also, the heights of the nodes aren't consistent across the trees. Would you mind digging in a little here @gtsambos? The code should be easy enough to follow, and I think the problems are mainly just parameters not being passed appropriately when we're drawing the individual trees.

No worries if you're busy though.

[2019-09-26 02:40] gtsambos commented on #236
Yes; I'm happy to poke around, but I won't have time for a few days. The height problem was logged in #319 also.

[2019-09-26 11:14] hyanwong opened #371 "Should table editing functions make copies or edit in-place?"
I've just noticed that while `delete_intervals()` and `keep_intervals()` return a *copy* of the table collection, my new `delete_sites()` function edits the table object in-place instead, and does not return a copy.

I'm about to code up `trim()` on a table collection, and it would be useful to know what the correct thing to do here is.

A hybrid approach would be to have a parameter `copy=False|T

[2019-09-26 11:50] jeromekelleher commented on #371
Good spot. I think these should be "functional" by default, i.e., they return a copy of the tables not update in place. **If** this turns out to be a perf bottleneck at some point we can add a ``in_place=False`` argument, or something. We don't need this now.

So, I think we should update ``delete_sites`` to return a copy. @petrelharp, opinions?

[2019-09-26 12:44] gtsambos commented on #236
Hmm, after playing around a bit, I think this part of problem is on Jupyter's end and not on ours.
 When I re-ran the example in the screenshot above, but also saved the SVG images (using the `path` argument) and reopened them with a different application, I could see that the correct ts was being drawn. Somehow the image displayed in Jupyter notebook isn't being 'cleared' with every new call to `

[2019-09-26 12:55] hyanwong commented on #371
Functional is easier in some ways, yes. The counter argument is that it is easy for a user to work on copies by doing table.copy() first, whereas it is impossible to do in-place editing unless we make the functions do so. So we restrict choice by making them functional, but leave user flexibility when doing this in-place.

Am I right in thinking that tables don't have a "edit" vs "read-only" mode?

[2019-09-26 13:18] gtsambos commented on #236
Hmm, okay, I think I also have some idea of why `tree_height_scale` isn't working also (#319)

It's because the list of SVG trees, held in `svg_trees` [here](https://github.com/tskit-dev/tskit/blob/master/python/tskit/drawing.py#L132-L140), is obtained by calling `SvgTree` on each separate tree in the tree sequence. No tree 'sees' the information in any other tree; in particular, the `tree_height_

[2019-09-26 14:03] petrelharp commented on #371
Functional sounds good to me: this is what simplify() does, also. (I think - I have to go look it up most every time!)

[2019-09-26 14:23] jeromekelleher commented on #371
Simplify and a few others operate on the tables in place, but these are performance critical. The TreeSequence is immutable, so everything is functional on that.

[2019-09-26 14:24] jeromekelleher commented on #236
There's a ``max_tree_height="ts"`` arg you can call here that will do this I think.

[2019-09-26 16:02] petrelharp commented on #371
Told you I have to go look it up every time.

Seriously though, the lack of consistency is a significant source of bugs. It'd be nice to have it be as consistent as possible. I (obviously) don't have the big picture about what is functional and what is not.

[2019-09-26 16:22] hyanwong commented on #371
Would you consider as inconsistent my suggestion of `tables.function()` == always in-place, `ts.function()` == always functional? (An honest question - I'm happy with any answer).

Perhaps useful to list the table-editing functions we talking about here: are there others?

* simplify()
* sort()
* keep/delete intervals()
* delete_sites()
* trim()
* deduplicate_sites()
* compute_mutation_parents()

[2019-09-26 17:02] petrelharp commented on #371
Yes! This is a good idea, but I don't know if it's consistent with the current API.

[2019-09-26 17:09] hyanwong commented on #371
I think it's only `keep_intervals()` and `delete_intervals()` that are functional. It would obviously be a breaking change if we made these operate in-place, but I since they are such a recent addition, I think it's probably only you and possibly Andrew Kern who are using them at the moment?

[2019-09-26 17:27] petrelharp commented on #371
Well, [here's the docs](https://tskit.readthedocs.io/en/latest/python-api.html?#tskit.TableCollection); there's also build/drop_index, which is also in-place (but should say so explicitly?).

So, I like that proposal - say that table collection methods will be "always" in-place, unless there's a reason and we make it real obvious somehow, and we switch `keep/delete_intervals` to be in-

I'm still

[2019-09-26 17:27] petrelharp commented on #371
@andrewkern do you have any input?

[2019-09-26 17:34] hyanwong commented on #371
As I said above, as a corollary, I think that we should implement `keep/delete intervals()`, `delete_sites()`, and (when I implement it) `trim()` on tree sequences too. In fact, unless there is good reason otherwise, I think most operations on tables should have a functional equivalent on a tree sequence. I think it makes it easier for casual (!) users to work entirely with tree sequences, and not

[2019-09-26 17:51] jeromekelleher commented on #371
I like Yan's idea of tables in place an tree seq functional. Unless it breaks some long standing methods I think we should standardise on this.

[2019-09-27 13:52] hyanwong commented on #371
I've coded this change in https://github.com/tskit-dev/tskit/pull/372. It seemed easier from a testing perspective to make the switch to in-place methods at the same time as creating the `tree_seq.delete_intervals()` and `tree_seq.keep_intervals()` methods, so those are included too. I still have to include `tree_seq.delete_sites()` - I could add that to this PR or create another instead.

[2019-09-27 20:52] hyanwong opened #374 "How to make simplify() consistent between tree seqs & tables?"
At the moment, `tables.simplify()` does not take a `record_provenance` parameter. It should. However, `ts.simplify()` *does* take such a parameter, as the penultimate one (before the `keep_unary` argument).

If we add this param as the last param of `tables.simplify()`, it breaks less code, but it means that the tree_sequence and tables versions have parameters in different orders, which is *horri

[2019-09-27 20:55] hyanwong commented on #374
(As an aside, once we decide what to do, I'm suggest moving the `tables.simplify()` code down a little in the tables.py file, so that all the functions that have tree sequence equivalents are in one place. I guess that's fine?)

[2019-09-27 21:02] petrelharp commented on #374
I am sympathetic, but I really hope that no-one is relying on ordering for optional named arguments at all, and especially so far down the argument list.

So, I propose to add it last to tables.simplify().

[2019-09-27 21:24] hyanwong commented on #374
I agree in that hope! But doesn't that also suggest that it isn't likely to break much if we change the order? Perhaps I'm making a mountain out of a molehill here, though.

[2019-09-29 10:29] hyanwong opened #375 "Where to store the meaning of node times"
It would be useful for tsdate to know whether tables.nodes.time is means to represent generations (as in msprime simulations), years, average mutation rates, or something arbitrary like the "frequency count" values output by tsinfer.

This feels like a sort of metadata field, but one associated with the entire tree sequence. Where should this be stored?

[2019-09-29 10:32] hyanwong commented on #150
This seems to have popped up again, e.g. on https://msprime.readthedocs.io/en/stable/api.html - I have checked in several browsers

![Screenshot 2019-09-29 at 11 32 11](https://user-images.githubusercontent.com/4699014/65831026-d22e1b00-e2ac-11e9-8c0d-078b1baef7bf.png)

[2019-09-30 02:23] petrelharp commented on #150
Hmph; I see that also. For some reason mathjax is not getting included (grep the source for "mathjax"), even though it is when I build locally, and the mathjax extension is included in sphinx's conf.py. It might have to do with a transition to mathjax 3.0, I suppose.

[2019-09-30 02:25] petrelharp commented on #375
Yes, definately. Perhaps in `metadata/time_units`?

[2019-09-30 07:51] hyanwong commented on #375
I'm not sure we have `metadata` for the entire tree sequence, do we? I've only seen it e.g. for nodes, and we wouldn't want to redundantly store the same thing for every node in the ts.

@jeromekelleher suggests that an alternative is to store it somehow in the provenance, although I'm not sure how easy that would then be to pull out (e.g. which provenance item would it be associated with?)

[2019-09-30 07:56] jeromekelleher commented on #150
Anyone fancy digging in to this to see what the issue is?

[2019-09-30 07:59] jeromekelleher commented on #375
I think we discussed the need for tree sequence level metadata at some point, and it's clearly something we want. This is probably where time_units belongs. However, I think we should wait until we've got a handle on metadata schemas and automatic decoding before doing this (see #57). This will be one of the things tskit's new engineer will work on first, I think.

[2019-09-30 08:02] jeromekelleher commented on #374
We should consider making things like simplify have [keyword only](https://www.python.org/dev/peps/pep-3102/) arguments --- no-one should be using these with positional arguments beyond the first two or three.

[2019-09-30 08:12] hyanwong commented on #150
Sorry - deep in ProbGen poster design. Happy to in a week or so.

[2019-09-30 10:48] #371 closed

[2019-10-02 02:01] petrelharp commented on #150
Same - later, but not now.

[2019-10-02 02:05] petrelharp commented on #374
I'm a little worried about the keyword-only thing, because I've never seen it before, so it makes our code a bit more obscure. I still am in favor of adding `record_provenance` to the end of the arguments, consistency be damned; but if others would rather, inserting the keyword-only `*`.

[2019-10-02 12:18] jeromekelleher commented on #374
I think we should embrace the keyword-only feature --- it's a significant gain that we don't have to worry about positional args, and I'm sure it won't confuse developers too much (especially if we document it with "arguments after ``samples`` are keyword only").

[2019-10-03 13:35] jeromekelleher opened #376 "Docs error on TreeSequence.delete_sites"
Some problem with docs on ``delete_sites``. cc @hyanwong
[code]

[2019-10-03 14:22] hyanwong commented on #376
I must have missed a commit, sorry. #377 was already waiting in my repo.

[2019-10-04 08:18] #376 closed

[2019-10-07 13:39] petrelharp opened #380 "delete X of table collections"
We need methods to delete_X from table collections, where X is in {nodes, edges, individuals, sites, mutations, population, migrations, provenances}. The use case I have in mind is to (a) run two independent simulations that start from the same tree sequence, and then (b) graft these back together. The "grafting" bit will need to remove the duplicate parts of the two table collection before squoos

[2019-10-07 13:58] petrelharp opened #381 "graft together partially overlapping tree sequences"
I want to  (a) run two independent simulations that start from the same tree sequence, and then (b) graft these back together. I'm proposing we "graft" together along a given set of *nodes*.  To have it make sense to graft A and B, we need:

1. to have an identification between a subset of the nodes in A and in B
2. to have the relationships between those nodes be identical in the two
3. to have t

[2019-10-07 21:43] petrelharp commented on #380
Note: for the grafting operation (in #381), we will need to e.g. `delete_edges( )` but *not* `delete_nodes( )`.

[2019-10-09 10:00] jeromekelleher opened #382 "Method to delete "rectangle" of tree sequence"
Following from #380, we also need to be able to delete a "rectangle" out of the tree sequence. Perhaps we just add a ``time`` argument to ``delete_intervals``?

[2019-10-15 09:46] jeromekelleher opened #383 "Drawing: tree_height_scale="rank" not interacting correctly with max_tree_height"
The [assign_y_coordinates](https://github.com/tskit-dev/tskit/blob/master/python/tskit/drawing.py#L266) function for SVG tree drawing contains some logic errors around how ``tree_height_scale="rank"`` is handled. Currently, if we do:

[code]

we get an error. The logic for this needs to be untangled and tested so that we get sensible results (or a meaningful error) when this is called.

@brianzhan

[2019-10-15 10:38] hyanwong opened #384 "Iterating over edges in a ts (or EdgeTable) by age of child, not parent"
For `tsdate`, @awohns needs to be able to iterate over all the edges that point to a particular child node in order of the time of that child node. Currently, edges are ordered by time of *parent* node (which is also useful). Iterating over edges by child node time as well as parent node time seems a generally useful thing to want to do if we are doing pre- or post- order traversal through the ARG

[2019-10-15 12:32] jeromekelleher commented on #384
I think implementing this as an argument to the ``TableCollection.sort()`` is the right approach. If no arguments are passed, then we sort in the canonical order. We can add an option called ``edge_order``, which defaults to "parent_time" but we can also specify as "child_time". Being able to sort into a non-canonical ordering is fine --- this is an advanced operation.

[2019-10-15 12:39] jeromekelleher opened #385 "Add "leaf trace" visualisation"
A useful visualisation is the leaf trace idea used in ARGWeaver. Examples:

https://journals.plos.org/plosgenetics/article/file?id=10.1371/journal.pgen.1004342.s002&type=supplementary

https://journals.plos.org/plosgenetics/article/file?id=10.1371/journal.pgen.1004342.s014&type=supplementary

Presumably, this would be improved on by having a canonical ordering of the nodes, as @brianzhang01 is thi

[2019-10-15 12:42] hyanwong commented on #384
Great. Perfect. @awohns - would you like to work this into a PR, as you'll need it for the "outside" part of the tsdate algorithm?

[2019-10-15 12:43] awohns commented on #384
Will do, thanks for raising the issue Yan!

[2019-10-15 12:48] hyanwong commented on #384
Great. Thanks. By the way, you should be able to go in reverse order after the sort by simply doing `reversed(tables.edges)` so there's no need to implement an ascending vs descending option to the sort params.

[2019-10-15 19:50] jeromekelleher opened #386 "Count extant lineages at a given time"
An operation that came up as being a useful feature in the recent PopSim meeting is to be able to count the number of extant lineages in each tree at a given time. This is equivalent to (a) deleting all edges older than t and truncating all edges intersecting with it (this would require the planned ``time`` argument to ``delete_interval`` in #382); and (b) counting the number of roots in each tree

[2019-10-16 15:40] brianzhang01 opened #389 "Given a tree sequence, draw marginal trees emphasising similarity between neighbouring trees"
Currently we have two main tree sequence drawing methods: text and SVG. Each of these has a method to draw the entire tree sequence, which ends up drawing the marginal trees. Alternatively, one can iterate through the trees and call the appropriate draw method on the marginal trees.

However, the current methods of drawing do not emphasise the similarity between neighbouring trees. I have a propos

[2019-10-16 15:52] brianzhang01 commented on #389
A few more notes that are a bit less important to the issue description.

First, my algorithm sketch assumes that samples = leaves. Since samples can also be internal nodes, the algorithm might need a bit more generality to handle that case.

Second, the minimum lexicographic order is one of many orderings that can be used. The idea is to have an unambiguous way to resolve which of a node's childr

[2019-10-16 16:15] jeromekelleher commented on #389
This sounds **amazing** @brianzhang01, let me know how I can help! (Perhaps worth calling up to the BDI to chat?)

[2019-10-16 16:36] molpopgen commented on #385
I have an example somewhere labelling nodes according to the proportion of cases vs controls in the sample list below each node.  I used viridis colors to represent "proportion of cases" as a continuous variable.   More generally, it boils down to plotting the proportion from 2 different sample lists, and is pretty straightforward.

[2019-10-16 17:35] petrelharp commented on #386
We definately want to do this, somehow! Note that another way to do it would be to remove everything *below* `t` and count the number of tips.

And gee, your algorithm is very nice. `num_roots` is a good name; but it might be nice to connote somehow the fact that these *aren't* actually  roots in the trees unless `time=None`, maybe `num_lineages_at( )` or `num_roots_at( )`?

p.s. Asking about numb

[2019-10-23 10:37] jeromekelleher opened #391 "Document tree traversals in C API"
We need to document the basics of how to traverse around a tree in the C API. This should include documentating the (a) parent/left_child/right_sib elements in the tree struct; and (b) giving a tutorial example of doing this. We should do two tutorial examples: (1) traversing upwards from the samples to do something; and (2) traversing downwards in a standard preorder way. It might be fun to compa

[2019-10-23 10:43] jeromekelleher commented on #362
#386 would give an efficient solution to this.

[2019-10-23 20:12] molpopgen commented on #391
Will do!  I'll need about a week, though--teaching is hitting hard now, but clears up after 1/11 (or 11/1 for those of us in the US).

[2019-10-24 03:15] daniel-trejobanos opened #393 "Read tree sequence file from c api"
Sorry found the documentation

[2019-10-24 06:43] #393 closed

[2019-10-24 07:41] jeromekelleher commented on #393
No worries --- the C documentation is patchy at the moment, please do open issues where you see gaps. Also, filling in some details about tree traversals in #392, which may be helpful.

[2019-10-24 08:34] jeromekelleher commented on #391
Thanks @molpopgen! I might  merge #392 in the mean time then, but it would be great if you could loop back and have a run through the new docs when teaching clears up in November (not January I hope!).

[2019-10-24 23:37] benjeffery commented on #246
Thought I'd spend an evening looking at this to see what it's like working with the codebase and as it had some friendly labels! I've implemented your trivial implementation above and an additional one using a priority queue from the `heapq` module. Code at https://github.com/benjeffery/tskit/commit/5feba1b4db5574436613e091b54470765f5e741d

To make it a fairer comparison between the methods, the o

[2019-10-25 09:10] #63 closed

[2019-10-25 09:10] #391 closed

[2019-10-25 09:16] jeromekelleher commented on #246
This is great, thanks @benjeffery! We should definitely work this up as a PR.

I forget what the original motivation for having this ordering is, but I think it was from an application where we needed the nodes time-increasing order. Think of it as a stronger form of postorder. I can't really see what one would use time descending down the tree for (but, perhaps we should consider the names so tha

[2019-10-25 15:27] molpopgen opened #394 "Document C API for sample traversal?"
The documentation in #392 looks great.  If folks are using that part of the API, then they probably want to know about accessing the number of samples below a node and the samples themselves.  The latter is noodly enough that it may warrant its own function instead of documenting the loop?

[2019-10-27 00:01] benjeffery commented on #246
I've looked a little into the performance of `preorder` vs `levelorder`. I'll checkout the "leaves up" idea another day.
Here's the current time taken for both (100 trees, n=50000):
[code]
Both have an unneeded call to `is_internal` before they add their children to the queue/stack. (`is_internal` calls `is_leaf` which just does `len(self.children(u)) == 0`)
Removing this saves 4 python function c

[2019-10-28 13:34] jeromekelleher commented on #246
Very cool, thanks @benjeffery! We should try to make these methods as fast as we reasonably can, since they are basic building blocks.

It might be worth implementing preorder in C as it's the default if there's a significant perf gain, but it's probably pretty marginal --- as soon as anyone starts *doing* anything with the nodes we're generating then the client side processing will surely dominat

[2019-10-29 09:12] jeromekelleher commented on #394
I'm not sure about documented the sample access code (i.e., the ``left_sample`` etc stuff). It's not clear there's any performance benefit over a straightforward traversal loop, unless you're revisiting the samples lots of times. IIRC, genotype decoding is a bit faster if you use a traversal (annoyingly!). So, I'm not sure there's much point in tying ourselves to this functionality in the long-ter

[2019-10-29 17:00] molpopgen commented on #394
Sounds good.

Regarding the genotype decoding:  does "a bit" refer to the case if iterating over trees *with* sample list updating or *without*?  If the former, then is it possible that "a  bit" could be "a lot" because the updating the sample lists itself from tree to tree is relatively costly?

[2019-10-30 09:43] jeromekelleher commented on #394
Yes, it's the total cost of decoding the genotypes, including tree generation step. It seems like the cost of maintaining the sample lists for *every* node outweighs gains that we make when actually iterating over the samples. But, hmm, I probably only checked this for a given rho/mu ratio. Presumably, when the mutation rate is high enough, the relative advantages might change.

Perhaps we should

[2019-11-01 12:48] daniel-trejobanos commented on #275
I am curious about this, specially how to compute the PCA without the covariance matrix? do you have a paper explaining this?

[2019-11-01 12:50] daniel-trejobanos opened #395 "Samples with derived allele, C API"
Hello, everyone, is there an already implemented way to query the samples with the derived allele for a given site using the C API?

Thank you and best regards.

[2019-11-01 14:02] jeromekelleher commented on #395
We don't have an official documented way of doing this yet (actually discussing the options over in #394). The simplest thing to do is to perform a traversal downwards from the mutation's node:
[code]
The traversal code can be adapted from [tree traversals](https://tskit.readthedocs.io/en/latest/c-api.html#tree-traversals) examples here.

What exactly do you want to do with the samples when you ge

[2019-11-01 15:47] daniel-trejobanos commented on #395
thank you for your quick reply. Basically from a tree obtained with tsinfer I would like to query the samples with the minor allele for a SNP.
________________________________
From: Jerome Kelleher <notifications@github.com>
Sent: 01 November 2019 15:02:21
To: tskit-dev/tskit
Cc: Daniel Trejo Banos; Author
Subject: Re: [tskit-dev/tskit] Samples with derived allele, C API (#395)

We don't have an o

[2019-11-01 16:53] tcavazos2 opened #396 "LdCalculator pairwise differences"
When using the `LdCalculator.get_r2_array()` there seems to be large pairwise differences between SNPs. The LD between snp1 and snp2 is different than the LD between snp2 and snp1. This may be an error in one direction (`msprime.FORWARD` or `msprime.REVERSE`). See below example code detailing this issue:

[code]

[code]

[2019-11-01 17:51] tcavazos2 commented on #396
This may be a bug specific to `get_r2_array()` because the below code yields the same value in both directions:

[code]
[code]

[2019-11-02 00:29] petrelharp commented on #275
I have not worked out the details, but the basic idea is that the PCs are the eigenvectors of the genetic covariance matrix, and modern iterative methods (like Krylov methods) exist to find the eigenvectors of a matrix A without ever computing A explicitly, but rather finding the result of multiplying A by some random vectors. This paper: https://www.ncbi.nlm.nih.gov/pubmed/26924531 does something

[2019-11-03 10:21] jeromekelleher commented on #395
Is the answer above useful or would some more details be helpful?

[2019-11-03 12:26] jeromekelleher commented on #396
Thanks very much for the bug report @tcavazos2. It turns out that this is a subtle issue with the way your code is laid out, but I think should be regarded as a bug in the library (I've opened a PR to fix it in #397) because it's such a nasty gotcha.

Basically, the underlying memory for your ``a`` and ``b`` arrays is the same, and at the moment, you need to make a copy of ``a`` before you call ``

[2019-11-04 00:49] gtsambos opened #398 "f2, f3 and f4 stat definitions -- some ambiguity?"
In my lab we are currently doing some checks that when we convert our tree sequences into genotype matrices and run them through ADMIXTOOLS or similar, we get the same values for f* statistics as we do when we calculate them directly on the tree sequence using the your new methods.

I got the following question from one of my colleagues:

My first instinct was the former, and this definition in @p

[2019-11-04 05:13] petrelharp commented on #398
Hello! Good question; this is a confusing aspect of these stats. There's a few things here, I'll talk through them and hopefully answer your question?

- I assume that your colleague meant "sample allele frequencies" by "population allele frequencies", since what is computed definately depends only on the genotypes of the samples.

- The definitions given in terms of sample allele frequencies are

[2019-11-04 05:41] tcavazos2 commented on #396
This makes sense! Thanks so much.

[2019-11-04 05:41] #396 closed

[2019-11-04 06:07] daniel-trejobanos commented on #395
hi sorry,

Reading it again, my last answer was  a bit redundant with the previous answer.  A bit more detail. In my software, done in C++, I would need the id's of the samples with the alternative alleles for a given SNP, and to know which ones are heterozygous and which are homozygous.

That's the sole use i have for genotype data, and i want to use the tresequence structure instead of reading t

[2019-11-06 08:24] jeromekelleher opened #401 "Document traversal orders"
The ``Tree.nodes`` iterator doesn't provide any description of what the various traversal orders actually are. Probably we should have a description list within the method to describe each one, possibly with links out to Wikipedia or somewhere.

[2019-11-06 08:43] jeromekelleher commented on #395
Sounds like a good plan. The traversal method I outlined above will work well. Please feel free to email me offline if you have bits of code you'd like some feedback on --- I'm happy to help you get up and running here, as the documentation is very sparse right now.

[2019-11-06 09:01] hyanwong commented on #384
I'm wondering if it would be better to provide a parameter to the [`ts.edges()`](https://github.com/tskit-dev/tskit/blob/002133a2c2934bb207072431fc47fe61cdb34958/python/tskit/trees.py#L2532) method, see my comment [here](https://github.com/tskit-dev/tskit/pull/399#issuecomment-549875834)

[2019-11-06 12:54] hyanwong commented on #374
Changing functions to keyword-only after the first few params looks like an easy, but breaking change to most methods with >4 arguments. Presumably all we have to do is add an asterisk into the appropriate place in the argument list. If we agree on the general approach, the main problem is going to be deciding where to place the asterisk. I've had a quick pass through `trees.py` to see where there

[2019-11-10 15:01] bhaller opened #402 "Node out of bounds when trying to simplify large tree sequence"
The following model runs in SLiM (with a very long pause getting through the first generation, due to an unrelated bug):

[code]

When it reaches generation 500, SLiM tries to simplify, and at that point an error is triggered: "tsk_table_collection_sort: Node out of bounds".  The relevant line in SLiM's code is at slim_sim.cpp:4787, where we call tsk_table_collection_sort() in preparation for simp

[2019-11-10 15:01] bhaller commented on #402
@petrelharp

[2019-11-11 09:26] jeromekelleher commented on #402
Thanks @bhaller, totally agree we can improve the behaviour. @petrelharp, are you happy to follow up on this and track down the details?

[2019-11-12 06:48] petrelharp commented on #402
I am happy to put this check in, yes. Good idea.

What's our thoughts about 64-bit tables? I guess we should discuss this in #343.

[2019-11-12 06:49] petrelharp commented on #343
It seems like we need to allow bigger tables (see #402), but on the other hand, the implications for memory usage are pretty unfortunate. The least bad other solution I can think of is to have tables switch over from 32-bit to 64-bit once they get big, although that'd be quite annoying.

[2019-11-12 09:05] jeromekelleher commented on #343
I think we'll probably just have to bite the bullet and make everything 64bit. Having a tsk_table_t and a tsk_table64_t would be a huge amount of extra work. Let's do a prototype and see what the actual memory costs of going to 64 bit are. It'll probably make no practical difference for the vast majority of tree sequences.

We should make the storage code more flexible though, and only store in 64

[2019-11-12 09:07] jeromekelleher commented on #402
Short answer is, yes, we probably need them, but it'll be a while before we do it. (But, we'll have a full time engineer on the case, pretty soon.)

[2019-11-13 18:00] molpopgen commented on #343
The memory impacts will be appreciable for larger sims.  For example, if I modify the script from #402 to just be plain W-F:

[code]

And run the following command:

[code]

The timing is:

[code]

So, that's 32GB.  Roughly, we can reason that the memory is mostly taken up by edges.  The simulation has no mutation, so we'll assume the size of individual genomes is negligible.  Changing the node in

[2019-11-13 22:47] molpopgen commented on #343
Quick update.  i hacked fwdpp to use 64 bit signed integers for the tree sequences and reran the example from above.  The memory use wasn't as bad as I'd guessed, so my loose approximation was too loose:

[code]

So, that is about a 10% performance hit, but I have to admit to laziness.  I merely changed a typdef.  There are probably loads of narrowing conversions, etc., going on.  I was just playi

[2019-11-14 15:19] jeromekelleher commented on #343
Thanks @molpopgen, this is good info. The more I think about it, the more I wonder whether we should be using tables for forward simulations at all though. (I'll send you an email about this)

Do we think that the *simplified* output of a forward simulation is every likely to need 64 bit tables?

[2019-11-14 20:29] dmliustat opened #403 "Turn a Table Collection to a Tree Sequence in C"
I'm currently writing a C program sampling genealogies given a sample of gene sequences. In my C program, I use the C API tskit to store the ancestral history and save the tree sequences in .trees files. Then I hope to load these .trees files for further analysis in Python.

I notice that the C API allows to save the Table Collection object in .trees file, but when I load these .trees file in Pyth

[2019-11-14 20:45] jeromekelleher commented on #403
Hi @dmliustat, welcome to tskit-dev!

Firstly, apologies for the poor documentation on the C API. It's great to see someone else use the C API, so please do raise issues when you find problems.

You certainly *should* be able to write out a table collection to file and read it back from Python. This is what the [forward simulation](https://tskit.readthedocs.io/en/latest/c-api.html#basic-forwards-s

[2019-11-14 21:25] dmliustat commented on #403
Hi Dr. Kelleher, thank you so much for your quick reply!

I did use tsk_table_collection_dump for saving the ancestral history, but when I read the .trees files into python, I got the folllowing error:

---------------------------------------------------------------------------
FileFormatError                           Traceback (most recent call last)
~\Anaconda\lib\site-packages\tskit\trees.py i

[2019-11-14 21:27] dmliustat commented on #403
More details about this error...
---------------------------------------------------------------------------
The above exception was the direct cause of the following exception:

FileFormatError                           Traceback (most recent call last)
<ipython-input-2-bfb73345d3a3> in <module>
----> 1 simTree = tskit.load("C:/Users/blabl/Dropbox/output/out_0.trees")

~\Anaconda\lib\site-package

[2019-11-14 22:32] hyanwong commented on #27
I've just hit this, when trying to turn a biallelic site into a multiallelic site, for testing purposes. I tried simply adding extra mutations onto nodes in the tree at that site, but fell foul of the mutation order requirement, which I can't easily see how to fix.

[2019-11-15 02:25] molpopgen commented on #343
Tricky question.  Personally, I am not interesting in attempting to simulate "all humans", but others may be.  More generally, for `tsinfer`, if you think about the rate at which adding a sample adds new nodes, what does a "Content Biobank" do to the total number?

For this particular issue, we need offsets larger than the current for metadata.  For #402, we haven't totally established what is goi

[2019-11-15 08:36] dmliustat commented on #403
Hi Dr. Kelleher,
I can't load my .trees files using the C API, either. The error was "Exception thrown: read access violation. tree_sequence->tables was nullptr." and it occurs to this line of code:
num_nodes = tree_sequence->tables->nodes.num_rows;
under the function tsk_tree_init (trees.c).
I used ### ### tsk_table_collection_print_state for viewing and I'm attaching the txt file. Hope it helps.

[2019-11-15 11:05] jeromekelleher commented on #343
Indeed!

[2019-11-15 11:19] jeromekelleher commented on #403
Hmm, interesting. Would you mind attaching the tree sequence file here (or emailing it to me) please?

Also, what version of the C API are you using?

It looks like you're developing this on Windows, is that correct? That's excellent (I'm super happy if people are using this on Windows!), but there may be some wrinkles we haven't encountered because we don't use Windows much in the core developers

[2019-11-15 21:24] dmliustat commented on #403
Yes, I'm developing on Windows and using C_0.99.2. To use the C API, I did a small change to the source code (though may not be the reason of failure):

On trees.c Line 745, I got a building error "Error C4703 potentially uninitialized local pointer variable 'row' used", so I changed `uint32_t *restrict row` to `uint32_t *restrict row = NULL` on line 637.
[trees.zip](https://github.com/tskit-dev/t

[2019-11-18 09:13] jeromekelleher opened #404 "Windows build warning"
As reported by @dmliustat in #84

trees.zip

fix the code so there's no warning (this fix sounds exactly right)

[2019-11-18 09:14] jeromekelleher commented on #403
Thanks for this @dmliustat. It's strange: when you look at the file using the underlying [kastore](kastore.readthedocs.io/en/latest/)  it contains no keys at all:
[code]

I don't understand how this could happen.

Would you mind making a minimal reproducible example for the C API please? That is, if you could replicate the problem that you have here with a short C program, then hopefully we'll be

[2019-11-19 11:16] #288 closed

[2019-11-19 11:58] jeromekelleher commented on #257
Closing this; I think we've change the underlying code in such a way as it's not relevant any more.

[2019-11-19 11:58] #257 closed

[2019-11-19 12:00] jeromekelleher commented on #201
Pushing this out again. @petrelharp, do we really want this? Seems easy enough to replicate, and maybe a good tutorial example rather than needing a native method?

[2019-11-19 12:13] hyanwong commented on #262
@gtsambos - just looking at a few things to do for 0.2.3. Do you want me to raise a PR for `link_ancestors`, or do you have time to do it?

[2019-11-19 12:38] jeromekelleher commented on #160
This is mainly plumbing in sphinx_argparse.

[2019-11-19 15:47] hyanwong commented on #353
To address this issue, I do think it would be helpful to know what we plan to do about integer site positions. Do we have a consensus here? E.g. we could make a derived class, e.g. `FiniteSitesTreeSequence` as [suggested](https://github.com/tskit-dev/tskit/issues/146#issuecomment-527195817) by @petrelharp. If so we could store the site positions as true integers, or simply as floating point (and r

[2019-11-19 18:21] standard-aaron opened #405 "Calculate r LD coefficient"
This is just a suggestion that i would assume is easy to implement -- is it possible to include methods for rmatrix() in addition to r2matrix()?

(Why do I care about this? r rather than r2 is the relevant statistic if you are trying to calculate marginal effect sizes for a linked locus with multiple causal effects.)

--Aaron

[2019-11-19 18:46] jeromekelleher commented on #405
Thanks for the suggestion @35ajstern. Presumably, this is ``np.sqrt(r2_matrix)``, so seems like it's hardly worth the API duplication? (Perhaps I'm missing something though?)

[2019-11-19 18:47] 35ajstern commented on #405
What if r is negative?

[2019-11-19 18:49] 35ajstern commented on #405
This is obviously easy enough to calculate directly from the genotype matrix, but i'm guessing you guys have some secret sauce for how to optimize this calculation using the treeSeq -- hence my suggestion

[2019-11-19 18:59] jeromekelleher commented on #405
Ah yes, of course.

Well, it's actually pretty involved coding the LD methods up at the moment, but we're hoping to get a more general framework in place soon (with @apragsdale), so we'll definitely include this when we do. Unfortunately, I don't think it'll happen before that unless you'd like to volunteer some time.

[2019-11-19 20:57] 35ajstern commented on #405
Sounds good -- might try to help with this if I have time soon. Feel free to close the issue!

[2019-11-19 21:05] apragsdale commented on #405
Hi Aaron, Jerome - yes, I've been (slowly) plugging away locally on getting a more general framework for two locus statistics implemented, tested, and working, but it's not quite ready to send in a pull request I think (Jerome, unless you think it's helpful to have open pull request that are actively in development and a ways away from being integrated - not entirely sure what the preferred approa

[2019-11-19 23:34] gtsambos commented on #262
Hey @hyanwong, it depends how soon the release will be - I'm very tied up over the next 3-4 weeks, so if the release is imminent I'd really appreciate if you did it!

[2019-11-20 08:45] jeromekelleher commented on #405
It depends on when you'd like to get feedback basically @apragsdale --- feel free to open a PR whenever you like.

Let's keep this issue open anyway, as a reminder that we want to implement r as well as r2.

[2019-11-20 08:48] jeromekelleher commented on #15
This is done now with general branch stats code.

[2019-11-20 08:48] #15 closed

[2019-11-20 08:49] jeromekelleher commented on #210
Pushing this into the multi-site statistics project.

[2019-11-20 08:49] jeromekelleher commented on #18
Pushing this into multisite statistics project.

[2019-11-20 08:59] jeromekelleher commented on #262
Thanks OK @gtsambos, we'll take care of it.

[2019-11-20 09:04] jeromekelleher commented on #353
Integer site positions aren't necessary, I think.

I think the semantics are: if there is no reference sequence present (which there never is, right now; see #146 for discussion) we output the haplotypes as computed by the ``haplotypes()`` method. If there is a reference sequence, we use this to fill in the gaps between the variant sites.

But for now, I think it's clear: we just output the haplot

[2019-11-20 09:08] hyanwong commented on #262
I'm happy to do this @jeromekelleher

[2019-11-20 09:14] hyanwong commented on #353
OK. For the record, I think that it is quite misleading to concatenate together non-adjacent sites as adjacent letters in a FASTA file. The FASTA convention is (AFAIK) for letters to represent adjacent bases, and for potential gaps (of any length) to be represented by a `-`. So my eventual preference would be to output a set of non-adjacent sites something like:

`A-T-T-C-G-`... etc.

I do think t

[2019-11-20 09:19] hyanwong commented on #353
(I forgot that I wrote up my thoughts on this in https://github.com/tskit-dev/tskit/issues/326#issuecomment-526819752)

[2019-11-20 09:19] jeromekelleher commented on #353
With non-integer site positions then there's no real meaning to 'between' them. We can add the padding behaviour later as an option, but I think the only reasonable thing to do for now is just output the haplotypes. It's up to the user to put in intermediate sites if they want them.

[2019-11-20 09:59] jeromekelleher commented on #353
Hmmm, reading the fasta "specifications" available I'm coming around to @hyanwong's point of view. A "-" character does indicate a "gap of indeterminate length" in these, so it would be a good choice to (as Yan puts it) indicate that this is weird fasta data. I've definitely seen alignment programs that use "-" to indicate a gap of length exactly one though, so I wonder how well this is supported/

[2019-11-20 12:11] hyanwong commented on #353
It is common to allow both `.` and `-` for these sort of gaps, and the [A2M](https://compbio.soe.ucsc.edu/a2m-desc.html) format uses these to distinguish `-` as character to represent a missing state (i.e. used as an "alignment column"), and a period (.) to "represent insertion positions between alignment columns". The A2M docs also state that "The ... periods ... are only for human readability, a

[2019-11-20 12:19] hyanwong commented on #353
p.s. I'm happy to implement my suggestion above (or whatever modification of it we agree upon), if I get the go ahead, @jeromekelleher. I can do this today, tomorrow, or Fri.

[2019-11-20 14:59] jeromekelleher commented on #353
Right, well this is looking like rather a lot more work than just quickly popping out a point release. I think we'll just have to undocument the ``fasta`` functionality for now, since it's controversial.

[2019-11-20 18:05] molpopgen commented on #402
Just to keep this one alive, I am unable to reproduce an overflow via a WF script written entirely in Python:

[code]

This script generated 1e9+1e6 nodes and 1e9 edges, and runs to completion against tskit 0.2.0 on Ubuntu 18.04 LTS and Python 3.6.8.

For the record, it took about 13 minutes and 105GB RAM.

[2019-11-20 19:40] #383 closed

[2019-11-20 20:13] #319 closed

[2019-11-21 08:27] dmliustat commented on #403
Looks like it's not because I'm developing on Windows. My program samples the ancestral tree with randomly chosen genetic events and this "no key" problem doesn't always occur. I've attached two trees, with and without error, respectively. Do you have any idea what could cause it? I'll also try to make a reproducible example.
[tree.zip](https://github.com/tskit-dev/tskit/files/3873561/tree.zip)

[2019-11-21 08:33] jeromekelleher commented on #403
The only thing I can think of is that an error of some sort is occuring, and it's not being caught. Would you mind pasting in the code chunk where you're dumping the tables to file please?

[2019-11-21 08:57] hyanwong commented on #353
Yes, happy to work on this is there's agreement, with the understanding that it's pushed to 0.2.4. I think it's better to wait a little and get the format right, rather than end up having to support something that's not quite what we want.

[2019-11-21 11:00] jeromekelleher opened #409 "Undocument fasta functionality"
See discussion in #353
Need to make sure the fasta functionality isn't documented or exposed in the CLI while we fix up the semantics.

@hyanwong, can you look at this please?

[2019-11-21 11:20] #262 closed

[2019-11-21 12:12] brianzhang01 commented on #389
I've now decided that the right way to do this is to output a minimum lexicographic order by leaves, not samples, so this is resolved. However, another issue is that sometimes there can apparently be multiple roots for TreeSequence / Tree objects. Right now I only do minlex ordering within each root, and the roots are iterated over using `for u in roots:` (trees.py, nodes() function). Should we ad

[2019-11-21 20:04] #409 closed

[2019-11-21 23:44] dmliustat commented on #403
Thank you so much, Dr. Kelleher. Yes, you are right. It is an error of sorting. The requirement "edges must be sorted first by child ID" was not met. The error message of missing key made me omit the error of sorting. I think this issue is solved.

[2019-11-22 09:02] jeromekelleher commented on #403
Ah, that's good to hear. I still don't understand how an empty file (the missing key error) was written out though, and I just want to make sure there isn't a bug here---if this is happening without an error being set somewhere, it's definitely a bug. Would you mind outlining how the error happened (or just paste in some code) please?

[2019-11-22 11:37] hyanwong commented on #150
Magically this seems to have resolved itself. I guess the issue can be closed @jeromekelleher ?

[2019-11-22 13:02] #160 closed

[2019-11-22 13:50] #299 closed

[2019-11-22 14:38] hyanwong commented on #336
After https://github.com/tskit-dev/tskit/pull/416 there are only the `array_like` and `dtype=XXX` nitpick ignores, so I'm wondering if this issue can be closed. I've [asked the internet about sphinx & dtypes](https://stackoverflow.com/questions/58994110/use-sphinx-to-document-a-numpy-array-dtype-within-the-rtype-field) but it's not clear to me that there's a standard way to do this, and examples I

[2019-11-22 14:43] jeromekelleher commented on #336
Arguably it's good as it is: saying what the dtype is on the type line.  I'm going to close this for now --- if someone disagrees, we can always open it up again later.

[2019-11-22 14:43] #336 closed

[2019-11-22 14:46] jeromekelleher commented on #246
Closed in #399 and #400

[2019-11-22 14:46] #246 closed

[2019-11-22 15:13] jeromekelleher commented on #389
I think I've convinced myself elsewhere that we shouldn't be treating this root-by-root, but it should be a global order. (But, let's see what happens when we try to draw the trees)

[2019-11-25 07:42] dmliustat commented on #403
I've pasted some code below that can reproduce the error. Actually `tsk_table_collection_dump`  fails to dump the tree when the requirement "edges must be sorted first by child ID" was not met, and thus there is no key in the .trees file.

---------------------------------------------------------------------------------------------------------
#include <stdlib.h>
#include <stdio.h>

#include "tabl

[2019-11-25 08:52] jeromekelleher opened #423 "Empty kastore file written on error in tsk_table_collection_dump"
When an error occurs early in table_collection_dump, we should not write to the kastore_file. Possibly we should unlink the partially written file on exit?

See #403 for an example where this happened.

[2019-11-25 08:59] jeromekelleher commented on #403
Ah, I see, thanks for this example, it's very helpful. I think it is a bug that we write out an empty file when there is an error condition like this, so I've opened an issue to track this (#423).

I know it's tedious, but every return value really does need to be checked, as this is how tskit communicates error conditions. For example, each of your ``add_rows`` above can potentially throw an erro

[2019-11-25 08:59] #403 closed

[2019-11-25 10:53] #423 closed

[2019-11-26 04:16] gtsambos commented on #398
Hi @petrelharp, sorry for the very late reply with this -- there's been a lot to think about and respond to, so I've put it off for a while.

I've had a look at your f stat summary functions in C over [here](https://github.com/tskit-dev/tskit/blob/master/c/tskit/trees.c#L2782) and I think there might be some issues with them that also relate to the definitions in your preprint -- I'm going to emai

[2019-11-26 04:24] gtsambos commented on #398
btw, not sure I'll have time to write this today, but the sparknotes version is that the version of f4 you've coded [here](https://github.com/tskit-dev/tskit/blob/master/c/tskit/trees.c#L2908-L2932), and defined in your preprint, looks like it's calculating the expectation of `p1*(1 - p2)*(p3 - p4)`, rather than `(p1 - p2)*(p3 - p4)`

[2019-11-26 06:01] gtsambos commented on #398
Perhaps I've just been thinking about this so long that I've started going loopy, but I'm no longer sure about this either. I understand that the *theoretical* definition of these statistics involves taking 2 (different) individuals from the population, but the samples in our tree sequences will always just be a subset of this population. So, those two individuals could be 'tagged' by the same sam

[2019-11-26 06:04] gtsambos commented on #398
Just one more quick comment before I go home -- that ADMIXTOOLS package is very widely used for calculating f stats based on allelic data, and users are going to expect that the results will align. This is important in applications where, for example, you are using tskit to calculate statistics on your simulated data, and ADMIXTOOLS to calculate statistics for your real data (for which no tree seq

[2019-11-26 06:10] gtsambos commented on #398
The way I would calculate these is a bit simpler (I think). Say you want to calculate F3: this is the expectation of `(p1 - p2)(p1 - p3)`. You can expand this out and write it in terms of E(p1), E(p2), E{p3)  and E(p1^2), which is Var(p1) + E(p1)^2. Since all of the p's have a binomial distribution this isn't too hard to do. Then you sub in p = x/n.

Does that make sense??

[2019-11-26 08:27] jeromekelleher commented on #398
Thanks for this @gtsambos! The details are over my head here, but I definitely agree that we should either compute the same thing as ADMIXTOOLS or document clearly why what we're doing is different (and ideally give options to compute the same thing).

[2019-11-26 16:58] jeromekelleher commented on #150
I'm not sure this is a problem: the ``latest`` version on RTD is rendering the maths fine: https://msprime.readthedocs.io/en/latest/api.html, and the stable and latest versions on RTD of tskit both seem to renders maths fine as well.

So, it'll probably sort itself out whenever the next version of msprime is released?

[2019-11-27 04:46] petrelharp commented on #398
Yes, thanks for the close look, @gtsambos. Let's see. There's two issues - one is whether we agree with ADMIXTOOLS; and the other is who is correct. For the first thing, would it be easy for you to produce a very small (e.g., one site, six individuals) example that has a difference between tskit and ADMIXTOOLS? If there is a difference having to do with sampling without replacement, it should be l

[2019-11-27 04:48] petrelharp commented on #398
Let's see - here's a definition of F2 incorporating sample size corrections
(note that you have to find the *statistic* F2, not the parameter, i.e., an *estimator* of the thing defined in terms of population frequencies):
![Screenshot from 2019-11-26 20-46-08](https://user-images.githubusercontent.com/1046249/69694537-f8deb700-108d-11ea-823b-b0e3aa52c389.png)
Ben says, just following this bit, tha

[2019-11-27 05:22] gtsambos commented on #398
I won't have time immediately and haven't actually used ADMIXTOOLS myself, but we should be able to try this, yep.

Okay, this is something I didn't consider, but I think the reason why I didn't consider is that [the API](https://tskit.readthedocs.io/en/latest/python-api.html#tskit.TreeSequence.f4) for f2, f3 and f4 doesn't include a `polarised` argument, so I (perhaps naively) assumed that it was

[2019-11-27 05:36] gtsambos commented on #398
I guess I'd also add that some users may understand and define f-statistics as the actual empirical statistic that they calculate from their real data, rather than as an estimator of an underlying theoretical quantity. From this perspective, a different empirical statistic is not technically an f-statistic and perhaps shouldn't be called one, even though it may tag a lot of the same signal and con

[2019-11-27 06:17] petrelharp commented on #398
I agree with this in principle, but I in fact still think that we *are* computing exactly the same thing as Reich et al. When developing these definitions, I did in fact check the definitions of these statistics, although it was long enough ago I don't remember the details, and could be wrong about some of it.

To be clear; by default, statistics are *unpolarised*. There is, in fact, no `polarised

[2019-11-27 06:35] gtsambos commented on #398
Yes; sorry, I think I knew this but was a bit muddled in the comment. So what you're saying is; the statistic that's actually calculated is the one you'd get if you substitute each frequency p with it's complement 1-p in one of the coded up expressions, and added that to the existing expression. In that case, I agree, f4 should be okay. Not necessarily the others tho.

Good idea -- don't worry, I'

[2019-11-27 12:44] #326 closed

[2019-11-27 16:14] hyanwong commented on #146
I think there is a difference between a finite sites tree sequence and a tree sequence with a reference genome, and the two issues are getting confounded here. It is perfectly possible to have a TS with sites at finite positions, but without any reference sequence available. Indeed, I'm working on hacked versions of such tree sequences at the moment.

I suggest we might want to open a separate iss

[2019-11-30 23:44] petrelharp commented on #398
Here are the statistics as defined in Reich et al 2009:
![Screenshot from 2019-11-30 15-43-20](https://user-images.githubusercontent.com/1046249/69907333-4017c100-1388-11ea-811c-a961feb1de88.png)
![Screenshot from 2019-11-30 15-43-27](https://user-images.githubusercontent.com/1046249/69907334-4312b180-1388-11ea-8b5b-47a6f701abd1.png)

[2019-11-30 23:54] gtsambos commented on #398
Thanks for the ref @petrelharp! I'm going to work on this today too;

[2019-12-01 03:38] petrelharp commented on #398
Ah, one more thing: their estimated heterozygosity is
![Screenshot from 2019-11-30 19-37-42](https://user-images.githubusercontent.com/1046249/69909016-f55a7100-13a8-11ea-9c2b-bff7444f4321.png)
where `u` is the number of alleles out of a total of `s` samples.

[2019-12-01 05:15] petrelharp commented on #398
The elegant way to do the math is escaping me at the moment, besides just saying "they're both the unbiased estimators of the same thing, so much be equal"; but here's a code check for f3:
[code]

[2019-12-01 05:17] petrelharp commented on #398
To close this, perhaps more documentation is in order? Do you think my suggestion above (first comment) would do it?

[2019-12-01 06:06] gtsambos commented on #398
Hmm, that seems pretty convincing! By your first suggestion, do you mean this one?

I'll think about it -- since it's possible to have estimators with the same expected value but diff variance, probably a bit more than this should be said.

I'm having a go with ADMIXTOOLS atm -- will let you know what i get

[2019-12-01 06:35] petrelharp commented on #398
By "my suggestion above (first comment)", I meant [this comment, above](https://github.com/tskit-dev/tskit/issues/398#issuecomment-549226531). (not sure if this is what you meant by "first suggestion?)

But, that suggestion might not address the real issue here. Is the issue that it's not clear that this computes the same thing as everyone else? It should be at least unambiguous what is computed;

[2019-12-01 14:23] hyanwong opened #431 "Tree.num_children(node), or Tree.is_unary(node) function?"
With tree sequences now allowing unary nodes, I find that I'm relatively regularly checking if a node is unary. I might be wrong, but it seems to me that it might be a little inefficient to keep doing `len(tree.children(u))` for this. If so, would it be sensible to simply report the number of children somehow, e.g. via a new method `Tree.num_children(u)`? Or (presumably even more efficiently, but

[2019-12-02 05:40] gtsambos commented on #398
Hullo! Sorry for the late reply; have been very busy. Thanks very much for all of this investigation -- I realise it's been quite a bit of work, and appreciate it.

Yes, I think the first comment you made was helpful for resolving a particular query I had at the time, but the change in the docs

I think it could potentially be quite confusing that the summary functions that you've listed for the s

[2019-12-02 05:41] gtsambos commented on #398
having major installation problems with ADMIXTOOLS atm but working on getting this going -- will report back when done

[2019-12-02 06:30] gtsambos commented on #398
Just going to post some other things I'm finding here in the meantime -- see this from the ADMIXTOOLS documentation:

of the target.

Same with another f3 calculation tool from [Pontus Skoglund's group](https://github.com/pontussk/popstats):

I haven't dug through the Reich paper to see what this correction is, but I'm assuming tskit calculates the 'vanilla', un-normalized version

[2019-12-03 05:27] gtsambos opened #433 "can't install with python 3.8"
A heads up that `setup.py` script doesn't seem to like the latest Python release (3.8)

[2019-12-03 05:54] petrelharp commented on #398
Gee, I'm guessing that the "correction" is the correction for finite sampling (to obtain an unbiased estimator) that we were working through above (h-hat in the Reich et al equations above is heterozygosity). So, tskit computes `--f3`, not `--f3vanilla`.

[2019-12-03 06:34] gtsambos commented on #398
Oh yeah, actually you're probably right, because that extra 'correction' term is some factor of p(1-p). I was a bit thrown by the word 'normalize' -- my gut interpretation was that this meant a correction by some multiplicative factor

[2019-12-03 06:58] petrelharp commented on #398
Yeah, me too.

[2019-12-03 07:10] gtsambos commented on #398
One extra thing to throw out there, and again, this is on the ADMIXTOOLS end of things (cc @mslick95): using it requires you to [first convert the file](https://github.com/DReichLab/AdmixTools/blob/master/README.3PopTest) to the 'EIGENSTRAT' format, one of the Reich lab's in-house file formats . This format only records *unphased output* a la PLINK files. It's a bit late in the day for me to be th

[2019-12-03 08:53] jeromekelleher opened #434 "VCF INFO output"
It would be useful to allow users output custom information as VCF INFO fields. One way we could structure this is to provide a parameter ``info_func`` which takes the current ``Site`` object as a parameter, and returns a dictionary. We then encode the returned dictionary as VCF variant info.

I guess for compatibility with the VCF spec, we should also provide a way to specify the keys and the typ

[2019-12-03 09:04] jeromekelleher commented on #433
Thanks @gtsambos --- can you post in some details please? (I don't have a 3.8 installation handy)

[2019-12-03 09:08] gtsambos commented on #433
Yes, in the heat of the moment I forgot to do this - I removed Python 3.8 from my computer but the error message should still be sitting there in my terminal history - will look tomorrow

[2019-12-03 09:08] jeromekelleher commented on #431
Both of these are possible, and consistent with existing APIs. I'm guessing that we're not going to compute ``Tree.num_children`` any faster than ``len(tree.children(u))`` unless we do it in C (which, unless it's a demonstrable bottleneck, doesn't seem worth it). ``is_unary`` is easy though, using the quintuply linked tree information.

[2019-12-03 13:38] hyanwong commented on #431
Ah, I like the idea of `is_unary` via the quintuply linked information. Should I roll my own version in the code I write, or is this a useful node attribute to provide to other users of tskit?

[2019-12-03 21:35] gtsambos commented on #433
hmmm, get ready for a lot...

[code]

[2019-12-03 23:24] hyanwong commented on #433
Probably won't help, but have you tried removing (or not using) the cached copies of the packages like h5py?

[2019-12-04 00:13] gtsambos commented on #433
Thanks Yan. I didn't try this -- I just reverted back to Python 3.7. Just
thought I'd mention this in case it's a more general issue that other users
might have

On Wed, Dec 4, 2019 at 10:24 AM Yan Wong <notifications@github.com> wrote:

--
PhD Student
Melbourne Integrative Genomics and School of Mathematics and Statistics
University of Melbourne
https://gtsambos.github.io/

[2019-12-04 03:13] gtsambos commented on #433
Hmm. I just had this problem with another external package, so I reckon it's a problem with my own setup. Sorry for the false alarm!

[2019-12-04 03:13] #433 closed

[2019-12-04 10:33] jeromekelleher commented on #431
Actually, adding in a C version of Tree.num_children doesn't seem like overkill, we should do this. Basically, this will iterate over the children of a node in the Python C module. We then call this from the Python API.

Would you like to take this on @hyanwong?

Adding ``is_unary`` seems excessive then,  since ``tree.num_children == 1`` is (arguably) more readable.

[2019-12-04 10:35] jeromekelleher commented on #431
Would be good to know if there is actually a perf cost to just returning ``len(tree.children(u))`` though. What's the difference between the times for ``[u for u in tree.nodes()]`` and ``[len(tree.children(u) for u in tree.nodes()]`` for a large tree?

[2019-12-04 10:36] jeromekelleher commented on #431
Also good to know this perf timing for a large msprime simulation and a tsinfer'd, like 1000G chr20.

[2019-12-04 12:58] hyanwong commented on #20
Ping @Chris1221 who was interested in taking a look at this. I'm not sure how complex an issue this would be for someone unfamiliar with the codebase, but Jerome's comment at the top gives me hope that it's not too bad

[2019-12-04 12:59] hyanwong commented on #22
Ping @Chris1221 who wanted to have a go at solving at some migration-related tskit github issues

[2019-12-04 13:02] hyanwong commented on #27
Ping @Chris1221 as an issue that could probably be tackled along with https://github.com/tskit-dev/tskit/issues/117 (I would find it useful if this issue were solved)

[2019-12-04 13:30] jeromekelleher commented on #20
Not the ideal place to start, as simplify is pretty hairy and multi-layered. But,  would be a great way to learn the codebase and how the top-to-bottom development process works.

[2019-12-04 13:41] Chris1221 commented on #20
Perfect, thank you @hyanwong! Yes, probably won't start here, but I'll keep it on my radar. This feature would be particularly useful for the `smcsmc` conversion to `tskit`, which is why I was interested in it. But you're right @jeromekelleher, it is probably pretty hairy.

[2019-12-04 13:42] Chris1221 commented on #27
Great, thank you @hyanwong, I'll take a look in the next little while. :)

[2019-12-04 14:05] jeromekelleher commented on #20
It's not so bad @Chris1221 --- I'd be happy to help you get up to speed. It'd be great to get smcsmc converted to tskit!

[2019-12-04 14:14] Chris1221 commented on #20
Yea I think so too. I was talking to @hyanwong a little about it, but we've implemented a very hacky conversion to the basic tables in text format -- it needs quite a bit of refining but the major issue was that we treat migration events as nodes, which is different than `tskit`. I'm going to look at the `tsconvert` work done so far and see if I can do it in a better way. I think it's pretty cruci

[2019-12-04 14:18] hyanwong commented on #431
You were right to ask to profile it. In case the creation of a large array took up the time, I stuck the evaluation in an if clause. On holly, using `len(tree.children(u))` is only ~30% slower on a simulated ts, and just under twice as slow on a truncated version of the 1000G chr 20 ts.

[code]

Not sure if this justifies C code or not? Seems on the verge of worth/not worth doing?

[2019-12-04 14:25] jeromekelleher commented on #20
Amen brother! I think it'd be well worth while spending a few days with us at the BDI then, I'm sure we can iron out the details between us.

[2019-12-04 14:27] jeromekelleher commented on #431
Possibly worth it. If someone wants to write the C and the tests then it'd be a useful feature.

[2019-12-04 14:29] hyanwong commented on #431
I'll have a go

[2019-12-04 14:39] Chris1221 commented on #20
That sounds great! I'm going home for Christmas soon, so realistically I don't think I'll have enough time in the next week or so, but we should try to find some time early in the new year. It's pretty high on my to-do list for `smcsmc`. Having it tied into the `tskit` ecosystem will also make it more easy for users to approach the output (and better integrated into `stdpopsim`).

[2019-12-04 17:01] #431 closed

[2019-12-04 17:35] jeromekelleher opened #438 "tsk_blkalloc_get should return NULL when size >= self->chunk_size"
``tsk_blkalloc_get`` currently triggers an assert when we ask for a memory chunk that's bigger than the chunk size. We should return NULL instead.

Related to: https://github.com/tskit-dev/msprime/issues/806

[2019-12-05 09:21] petrelharp commented on #27
This'd be nice to fix, but for your tests, @hyanwong - did you know that if you add the new mutations without any parents, then call `compute_mutation_parents`, this will fill them in for you (using order in the table)?

[2019-12-05 10:14] hyanwong commented on #27
@petrelharp thanks - the problem here is with mutations with order dependence (i.e. one mutation on the same lineage as another at the same site). I don't think `compute_mutation_parents` works in this case.

@Chris1221 could add the following code as a unit test for fixing it, perhaps?

[code]

[2019-12-05 10:32] hyanwong commented on #27
NB - once fixed, remember to remove the docs noting this problem, on line 653 of `docs/data-model.rst`

[2019-12-05 11:20] Chris1221 commented on #27
Thanks @hyanwong, I was thinking of asking for an example of the failure -- this will help me tremendously to get started.

[2019-12-05 12:32] hyanwong opened #440 "Documentation: separate header sections for TreeSequence and Tree?"
I often find myself wanting to look up a method of a tree, or a method of a tree sequence. With both of these classes documented next to each other, and with some identically-named methods, searching through the docs becomes quite a hunt, especially now that all the stats methods are in there.

It would help substantially if I could jump directly to the section either on tree sequences or on trees

[2019-12-05 12:44] jeromekelleher commented on #440
Sure, looks good.

[2019-12-05 14:26] #440 closed

[2019-12-05 16:22] hyanwong opened #442 "Add omit_missing to Tree.nodes()?"
At the moment, the `Tree.nodes()` method lists all the nodes in a tree, even if the node is isolated (i.e. has missing data). It would be useful for me to somehow iterate through the nodes without counting the missing ones. A parameter to the `Tree.nodes()` iterator would work, or perhaps an easy way to check if a node is isolated? The only way I can think to do this now is to check `Tree.num_chil

[2019-12-05 16:32] jeromekelleher commented on #442
I guess a first step is to add a method ``Tree.is_isolated(u)``, which does the check of no parent and no children. I'm not sure we want to add a parameter to the ``nodes`` iterator, since it's pretty easy to filter the nodes out afterwards (given this method) and there's no performance advantage.

[2019-12-05 16:47] hyanwong commented on #442
Fine. I guess it *is* useful to have the `Tree.is_isolated(u)` method, thought, rather than the more unwieldy version I typed above. And this should be done in pure Python?

[2019-12-05 16:50] hyanwong commented on #442
Oh, and it might be thought a bit odd that isolated nodes ("not in any tree") are returned by `Tree.nodes()`, so perhaps it's worth a comment somewhere in the docs, either in the `Tree.nodes()` docstring or in the section on missing data?

[2019-12-05 16:57] jeromekelleher commented on #442
They are in the tree though --- they are roots. These are isolated samples, not just any old nodes. So, we need to be careful with the terminology. I don't think we need to over elaborate on this, it'll likely just confuse people.

Sure, no point in complicating this.

[2019-12-05 17:00] hyanwong commented on #442
Fair enough. It just confused me until I realised what was going on. I agree that it's not relevant to most people, and confusing to put it in the docs for `Tree.nodes()`, but wondered if it might be worth mentioning in the missing data section?

Will put in a PR for the python version of `is_isolated()`.

[2019-12-05 17:05] jeromekelleher commented on #442
It'd be good to clarify in the missing data section all right, and perhaps give a recipe for leaving out these samples using the ``is_isolated`` method.

[2019-12-10 08:16] jeromekelleher commented on #150
Closing --- this is rendering fine now.

[2019-12-10 08:16] #150 closed

[2019-12-12 20:56] brianzhang01 opened #447 "write_vcf() should have isolated_as_missing option"
I am working with a tree sequence that someone else created using SLiM. When trying to read in the tree sequence (using tskit.load) and write out VCF using the write_vcf() function, I get the error
[code]

I get a similar traceback when I try to create a VCF file from this tree sequence using the command-line interface: `tskit vcf tmp.trees`. I presume this is due to missing data in the tree seque

[2019-12-13 05:38] petrelharp commented on #447
Ah, I know the problem here - a SLiM-produced tree sequence has individuals whose nodes are not marked as "samples"; but then by default `write_vcf`, if there are individuals present, will try to write out a VCF of all individuals; thus leading to this error. The error is sort of wrong, in this case - even though those individuals have nodes not marked as samples, we've got entire data on them, so

[2019-12-16 10:17] jeromekelleher commented on #447
Asides from the pyslim subtleties, I guess the ``write_vcf`` output really should have methods to deal with missing data. I think "." is the accepted format for this, and it should be easy to implement so I've added it to the next release milestone.

[2019-12-23 06:02] petrelharp opened #450 "mutations above the root and the AFS"
As noted in https://github.com/popsim-consortium/stdpopsim/pull/340 , any mutations above the root do not count towards the last entry of the AFS:
[code]
Note that there are 5 sites in `ts1` that are fixed among the samples, but these don't appear in the last entry of the AFS.

At least, this should be made more clear in [the docs](https://tskit.readthedocs.io/en/latest/tutorial.html#zeroth-and-fi

[2019-12-23 18:14] molpopgen commented on #450
I think this behavior is fine.  Regarding removing such variants during simplification: doing so breaks forward simulations.  Imagine not being able to reconstruct trait values from the mutation metadata for a sim of a quantitative trait.

[2019-12-24 06:47] petrelharp commented on #450
Right - that is why simplification does not remove them. However, I think we do want it to be optional - otherwise, simulations run for a long time can build up quite a large amount of memory taken up by fixed mutations.

[2019-12-24 17:15] molpopgen commented on #450
Sure, but that is an implementation detail for the forward sim.  The memory for site/mutation tables is not large.  If there is a memory issue due to fixations, it is coming from the `sizeof` the mutation data type in the simulator.

[2020-01-02 16:02] jeromekelleher commented on #450
I don't think there's anything we can do about this other than document and explain it --- as you say @petrelharp, there's no analog with branch stats if we do include mutations over roots.

We can add an option to filter out mutations over roots to simplify if we like (but lets open a new issue to track it if we do), but we definitely shouldn't change the default behaviour now.

[2020-01-05 11:36] jeromekelleher opened #451 "Use substitutions to reduce redundancy in docs?"
The documentation contains lots of repeated paragraphs (particularly the stats documentation), e.g.

Is repeated in each statistic definition.

Can we use sphinx [subsitutions](http://www.sphinx-doc.org/en/2.0/usage/restructuredtext/basics.html#substitutions) to avoid this repetition?

[2020-01-07 03:22] molpopgen commented on #451
Is one downside that docstrings will be incomplete in the python shell?

[2020-01-07 07:58] petrelharp commented on #451
Oh, that's a big downside.

[2020-01-07 14:07] molpopgen commented on #451
The manually already has a lot of section xrefs, etc., that don't make for nice docs in the shell.  So this would be more of that.

[2020-01-07 15:26] jeromekelleher commented on #451
Great point Kevin, this would make the docs unreadable outside of rtd. Let's drop the idea.

[2020-01-09 08:50] #451 closed

[2020-01-12 21:07] eaton-lab opened #453 ".newick() raises: LibraryError: Supplied buffer if too small"
Hi all,

I'm getting a buffer size error when calling `.newick()` on a tree with large Ne. The problem seems to be derived from C code in `._ll_sparse_tree.get_newick()`. I see in the trees.py code that if you provide a `node_labels` argument to `.newick()` it skips the compiled `get_newick()` function and instead uses the Python function `__build_newick()` in trees.py. The latter function works f

[2020-01-13 09:21] jeromekelleher commented on #453
Thanks for the bug report @eaton-lab, good catch. The issue here is that tskit isn't allowing enough space for the large time values, but it should be an easy enough fix. It might take a while to get pushed through the release though.

Your workaround will work fine, and I don't  think the performance will be that much different since the  trees are pretty small.

[2020-01-13 09:27] #56 closed

[2020-01-13 14:43] awohns opened #454 "Document how to add to documentation"
Fill out the `_sec_development_documentation` section in docs/development.rst.

[2020-01-29 16:29] jeromekelleher opened #455 "Add tests for tsk_blkalloc to test_core.c"
Currently no low-level tests for tsk_blkalloc. Add some simple unit tests for this.

[2020-01-30 11:14] winni2k opened #456 "[feature proposal] Adaptor class for a networkx graph"
It strikes me that an adaptor class for a tskit Tree to make it look like a networkx DiGraph would give easy access to networkx's substantial graph algorithm library (https://networkx.github.io/documentation/stable/reference/algorithms/index.html) to [perform](https://networkx.github.io/documentation/stable/reference/algorithms/traversal.html) the traversals described in the [tutorial](https://tsk

[2020-01-30 13:31] jeromekelleher commented on #456
Very interesting idea @winni2k! I think we would definitely be interested in that.

Is there an interchange format that networkx will understand, or do we need to import networkx? I don't want to make networkx a hard requirement (but could be an ``extras_require``).

[2020-01-30 14:00] winni2k commented on #456
There are several interchange formats that networkx understands including python data structures such as dicts of lists, dicts of dicts, and numpy/scipy matrices (see [here](https://networkx.github.io/documentation/stable/reference/convert.html)). Networkx also understands several graph storage formats (see [here](https://networkx.github.io/documentation/stable/reference/readwrite/index.html)). Th

[2020-01-30 14:37] molpopgen commented on #456
Great idea.

[2020-01-30 15:04] jeromekelleher commented on #456
The ``from_numpy_matrix`` option sounds perfect to me. Let's not worry the overhead about making a copy, it's unlikely we're going to be doing this for ginormous trees. So, how about we add a method to the tree class ``as_matrix()`` which will return a numpy adjacency matrix in a form that networkx understands, and give a short recipe in the docstring for how to import this into networkx?

A bit i

[2020-01-30 15:34] winni2k commented on #456
Great! I'll set aside some time to do this in the next few days.

[2020-01-31 17:42] #438 closed

[2020-01-31 17:42] #455 closed

[2020-02-02 08:20] winni2k opened #458 "Grafting slim tree onto existing msprime tree"
I am trying to graft a tree generated with slim onto a tree generated with msprime by editing the tree sequence tables of the msprime tree. Specifically, I have modeled a population expansion from a single individual in slim, and I want to graft that root onto a historical sample generated by msprime.

I am finding it quite time intensive and error prone. Are there any utilities for merging two tr

[2020-02-02 14:50] jeromekelleher commented on #458
This sounds like [recapitation](https://pyslim.readthedocs.io/en/latest/python_api.html#pyslim.SlimTreeSequence.recapitate), which basically runs an msprime simulation from the starting point of an existing tree sequence (using the ``from_ts`` argument). Does this do what you want?

[2020-02-02 16:01] winni2k commented on #458
It does sound like recapitation. I considered it, but the wrinkle that I don't see the solution to is that my slim simulation has already coalesced (its an exponential expansion from a single individual). I am trying to combine the slim simulation with a larger msprime simulation with thousands of samples, of which only one (historical) sample should become the root for the entire slim simulation.

[2020-02-02 16:39] winni2k commented on #458
Perhaps relevant here: On closer inspection of the `recapitation` docstring, I find this paragraph:

There's a grammar mistake in the first sentence, but I don't understand the sentence enough to fix it.

[2020-02-02 17:27] jeromekelleher commented on #458
Hmm, interesting one... I don't think we have the tools to do this easily now. Might be easier to have a quick chat about it. Drop me an email if you'd like to organise a call --- it'd be great to catch up anyway!

[2020-02-02 17:42] winni2k commented on #458
Sounds good!

[2020-02-03 17:47] petrelharp commented on #458
I sketched out a simple algorithm that would nearly do this with @mufernando just a few days ago; we'll let you know if we get that to a usable place soon. But, we'd appreciate input or help with #381 - figuring out if the API would work for your use case, for instance!

[2020-02-06 14:58] #456 closed

[2020-02-07 15:23] jeromekelleher opened #459 "Remove non-threadsafe stacks from tsk_tree_t"
tsk_tree_t current has two stack variables which are used in one or two functions (making them non-threadsafe). Remove these and malloc the stacks each time instead.

[2020-02-07 17:24] molpopgen opened #461 "Reducing/removing the need for a temporary output edge table during simplification"
During tree sequence simplification, edges are collected and processed per parent from the input table.  New edges are stored in an "output" table, which eventually contains the full set of simplified edges.  However, the number of output edges is <= the number of input edges processed for the current parent and therefore they can be written near the start of the input table.  I've implemented thi

[2020-02-07 17:59] jeromekelleher commented on #461
Yep, should be possible I think and probably worthwhile.

[2020-02-09 20:41] petrelharp commented on #461
We had thought about this, and I don't think it's always true. Do you have a proof? Consider this case:
[code]
The samples are `[0, 1, 2]`; simplification will remove `3` and remap `4 `to `3`.  If I'm doing it right,
we'd get
[code]
... so, there *are* less edges in total, but the number of edges for parent `4` (now, parent `3`), has increased. I'm not even sure the number of edges has to decrease

[2020-02-09 20:45] molpopgen commented on #461
See the fwdpp PR for how to deal with that.

On Sun, Feb 9, 2020, 12:42 PM Peter Ralph <notifications@github.com> wrote:

[2020-02-09 20:51] molpopgen commented on #461
Here, specifically.  Worst case is current behavior, and typical case vastly better: https://github.com/molpopgen/fwdpp/pull/242/files#diff-9B80AA107C466C524B9329DF83299916R647

[2020-02-09 21:01] petrelharp commented on #461
Ah, ok. I've not worked through the details in your PR, but is the idea that *usually* you're wanting to write to somewhere above where you are reading from, and you maintain a buffer in case that is not the case?

[2020-02-09 21:08] molpopgen commented on #461
Exactly.  The <= is not a guarantee for each parent, but it is quite close
in practice.

On Sun, Feb 9, 2020, 1:02 PM Peter Ralph <notifications@github.com> wrote:

[2020-02-10 00:48] molpopgen commented on #461
Of course, as soon as I looked into testing overlapping generations more seriously, I have a bug in the new data structure that is for the *other* part of that PR.  :)

[2020-02-10 09:33] winni2k commented on #458
Thanks for the link @petrelharp! I ended up fiddling my way to a very hacky and specific-to-my-situation solution. I am posting it here in case it might be useful to anyone else reading this thread. The most fiddly and perhaps most interesting part of this code is the `update_ids` function, which handles the task of updating the IDs of the child tree nodes in the edge table, as the child nodes hav

[2020-02-10 09:33] #458 closed

[2020-02-10 10:01] jeromekelleher commented on #458
Looks good, thanks @winni2k. I think this could be done a bit more simply, if you're interested. If you (a) combine the two node tables together; (b) add len(first_ts.nodes) to all the child and parent values in the second_ts edges, and then combine the edge tables; (c) sort the tables and then (d) simplify wrt to the samples in your final tree, it should all work out. Simplification will work out

[2020-02-10 13:27] winni2k commented on #458
Yeah, that makes a lot of sense. Thanks!

[2020-02-12 17:11] #395 closed

[2020-02-12 17:13] jeromekelleher commented on #64
Also remove the conversion to list() in the Python code.

[2020-02-12 17:28] jeromekelleher opened #463 "[C API] Change vargen genotypes (and elsewhere) to int32?"
The vargen struct is complicated by having a genotypes.i8 and genotypes.i16 as well as the complexity we get in the code from changing between the two.

If we're only looking at a single site, then there's probably no point in this: it's unlikely we save any real time or space by having the int8 type. It's only when we're storing a genotype **matrix** that this will really matter, but that's not s

[2020-02-20 16:58] petrelharp opened #464 "add `individuals=` argument to simplify"
An error that I have seen quite a few people make already is that they pass in a list of individual ids to `samples=`, instead of their constituent nodes. It's an easy mistake to make. If we had an "individuals" argument to simplify, this could help avoid this confusion. It might work like this:
[code]

[2020-02-20 17:09] jeromekelleher commented on #464
Good idea. Why not make the ``individuals`` and ``samples`` arguments mutually exclusive though? Seems simpler, and I can't think of a good reason for mixing them.

[2020-02-20 17:17] petrelharp commented on #464
Yeah, you're right. I guess the main question is whether to make `samples` optional with default `None` or make people pass in `None` explicitly (the first, I imagine?).

[2020-02-20 17:27] jeromekelleher commented on #464
I think ``samples`` defaults to None already (in this case it'll take all the samples in the ts). So another ``individuals=None`` argument should work fine.

[2020-03-02 15:32] brianzhang01 commented on #401
Where specifically would the documentation be added in order to be viewable by a user? If it's straightforward it could be added to #411, though I'm already behind on getting the PR out.

[2020-03-02 16:01] jeromekelleher commented on #401
I think it can go directly into the docstring for the nodes function, so that the list will end up in [here](https://tskit.readthedocs.io/en/latest/python-api.html#tskit.Tree.nodes)

Thanks @brianzhang01!

[2020-03-02 16:25] brianzhang01 commented on #401
Cool, I'll add it to my PR. Feel free to assign me.

[2020-03-04 15:38] hyanwong opened #465 "Transparent loading of compressed tree sequences?"
Just had someone try to load a tree sequence compressed with tszip using `tskit.load()`, and of course it failed (and in this case, was a pain to debug because the python session was being run within R, which hid the debug output).

If `tszip` is installed, might it be possible to try loading the tree sequence from file using tszip if normal loading doesn't work?

[2020-03-04 16:36] jeromekelleher commented on #465
Hmmm. It's doable, I guess, but messy. We definitely don't want to make tszip a hard requirement, but I guess it could be an ``extras_required`` or something. Also it'll make things very slow, as loading from tszip will be a lot slower.

Also - seems pretty crappy if R is hiding traceback info? I can't imagine a workflow in which you could load a tree sequence and do stuff in R. If there is, perha

[2020-03-04 22:11] hyanwong commented on #465
Agree about not a hard requirement, but *if* it is installed, then it would seem helpful to use it to load compressed data. Presumably the user will know it is compressed, so would have to take the hit anyway.

Also agree about it being crappy that R hides tracebacks. Mark Ravinet is using tskit from within R somehow (possibly just within the R GUI though). I suggested that if he has a workable so

[2020-03-05 08:17] jeromekelleher commented on #465
Cool. Well, good luck - if it works out, it'd be a good thing to document. Nice to support R users if we can (until tskitR arrives, I guess!).

[2020-03-05 11:17] hyanwong commented on #465
The `reticulate` package in R allows you to run python within an R session, and then access the python data in R. So for example you can literally copy and paste the text below into an R session:

[code]

and (as long as msprime is installed in my python3 version, I get

[code]

[2020-03-09 06:10] gtsambos opened #467 "SVG IDs not unique and being cached by Jupyter"
Hi everyone! I keep finding that when I use `draw_svg` several times in the same Jupyter notebook, I get odd (wrong) drawings that are always wrong in the same way. An example is below:

![Screen Shot 2020-03-09 at 5 04 00 pm](https://user-images.githubusercontent.com/17755074/76186947-0c222680-6228-11ea-8919-607cb217bf96.png)

In the notebook shown above, I have two difference tree sequence objec

[2020-03-09 09:18] jeromekelleher commented on #467
This is **super** weird! It must be something to do with the notebook environment, because when I save the SVGs to file, it all works as expected.

Here's what I think has happened. When we write out the SVGs, we give different parts of them IDs, like
[code]
I think it must be the case that the Jupyter environment is taking these SVG IDs to be global. I don't know if this is legitimate behaviour o

[2020-03-09 09:48] benjeffery commented on #467
Generally in an HTML document IDs are assumed to be unique. https://www.w3.org/TR/html4/struct/global.html#h-7.5.2

[2020-03-09 10:33] jeromekelleher opened #468 "[CI] Use flake8-bugbear?"
When looking through black's setup, they use [flake8-bugbear](https://github.com/PyCQA/flake8-bugbear) which looks worthwhile. Should we adopt this?

[2020-03-09 10:39] jeromekelleher commented on #467
OK, we just need to add the object ID string to each of these IDs in the SVG then. That should be safe, I guess (but also make the IDs less useful, since they can't be predicted simply).

[2020-03-09 10:58] jeromekelleher opened #469 "GitHub landing pages for Python and C"
The current GitHub readme contains generic information about the tskit project. It would be nice if we also had specific landing pages for the C and Python libraries (i.e., README.md files), with links to these from the top-level README.

These should include any relevant badges (i.e, Black format, download counts, CI badges etc for Python; I guess just the Circle CI badge for C).

[2020-03-09 11:03] jeromekelleher opened #470 "Document Black formatting for Python code"
#466 changed the codebase to use Black formatting. We need to document this for developers.

As @benjeffery suggested [here](https://github.com/tskit-dev/tskit/pull/466#issuecomment-595997239) we should use the pre-commit package to automate this as much as possible.

Also nice to link to the [editor integration](https://black.readthedocs.io/en/stable/editor_integration.html#editor-integration) se

[2020-03-09 11:56] benjeffery commented on #468
This looks great, as part of #470 I will shop around for other flake8 modules such as this. We talked about [flake8-docstrings](https://pypi.org/project/flake8-docstrings/) and I'd like to consider some of the list of other pre-commit checks here: https://pre-commit.com/hooks.html

[2020-03-09 12:04] jeromekelleher commented on #468
Jeez, that's a treasure trove of cool stuff! A nice pattern I noticed in Black's GitHub workflows is to use the pre-commit as a definition of what lint is, and just run the pre-commit as part of CI. See [here](https://github.com/psf/black/blob/master/.github/workflows/lint.yml).

[2020-03-09 13:57] molpopgen commented on #470
The vim plugin currently requires installing from git, which I did via pip3.  You get a "can't format" error otherwise, and there's already an issue ticket for this at black's GitHub.

[2020-03-09 14:54] jeromekelleher commented on #470
I hit that one too. Hopefully it'll be cleared up soon.

[2020-03-09 15:55] molpopgen commented on #468
Related: https://github.com/asottile/blacken-docs

[2020-03-09 16:10] benjeffery commented on #470
Adding to the list here, a "can docs build ok" pre-commit would have just saved me a CI pass.

[2020-03-10 10:20] thegreatlizzyator commented on #453
Hello!
I am having the same problem, however I need to keep the information on node labels so the proposed alternative is not going to work in my case. When will this be fixed ? Thanks!

[2020-03-10 10:40] jeromekelleher commented on #453
We don't have a fix for this or a release date yet I'm afraid @thegreatlizzyator.

We can definitely help you to work around the problem though. I think this should give you the same output with node labels (not tested though):
[code]

[2020-03-10 11:04] thegreatlizzyator commented on #453
Thanks @jeromekelleher !

`node_labels = {u: str(u) for u in tree.nodes() if tree.is_sample(u)}`

worked for me!

[2020-03-11 10:00] jeromekelleher opened #472 "[Dev] Introduce type annotations?"
@grahamgower brought up the idea of using type annotations in the code over in #471. I don't know much about it, so thought it would be good to have a discussion here of the pros and cons.

One abiding principle I think we should have though is that we should be conservative about Python versions. The approach taken so far (which we should document somewhere I guess) is that the minimum Python ver

[2020-03-11 10:56] benjeffery commented on #472
Function annotation syntax has been a Python feature since version 3.0, but to use them properly you need 3.5 as that added the `typing` library and conventions. From what I can see `tskit` supports 3.6 and debian stable (`buster`) is on 3.7, so that shouldn't stop us.
There's two main advantages:

- When on exposed methods for users they form part of the documentation, although we already
   have

[2020-03-11 11:05] jeromekelleher commented on #472
Thanks @benjeffery, sounds good. OK, it sounds like one to think about in ~6 months once we've settled in to using the current bout of process improvements.

[2020-03-11 12:06] grahamgower commented on #472
Let me caveat my comment by saying I haven't used type annotations in Python before, but.... My understanding is that type annotations can be added gradually. If its decided that type annotations are desirable, then there need not be a concerted effort to annote lots of existing code right now. But this shouldn't prevent the more adhoc introduction of a few type annotations in new code. A concerte

[2020-03-11 13:58] terhorst opened #473 "Can't pickle _tskit.TreeSequence objects?"
Are `TreeSequence` objects meant to be pickleable?
[code]
On the other hand, `ts.tables` can be pickled. So maybe this is intentional?

[2020-03-11 16:06] jeromekelleher commented on #473
Great, looking forward to the PR @terhorst!

ps. I just transferred the issue to tskit.

[2020-03-12 12:15] #473 closed

[2020-03-12 18:51] benjeffery opened #476 "[Dev] Should we turn on enforcing a linear commit history?"
See https://help.github.com/en/github/administering-a-repository/requiring-a-linear-commit-history

I'd be in favour of this, anything we can do to simplify the workflow. Thoughts?

[2020-03-12 19:46] jeromekelleher commented on #476
I'd be up for trying it out for a bit anyway. We'll still need to ask people to rebase though, as AFAIK you can still have cases where the tests will pass on the PR but once it's "merged" into master the tests break.

[2020-03-12 19:53] benjeffery commented on #476
Yes, not quite ideal. A PR check action that failed on non-fast-forward would be better.

[2020-03-12 20:11] jeromekelleher commented on #476
OK, I've turned on the "require linear history" thing for master. Let's see how it goes.

[2020-03-12 20:11] #476 closed

[2020-03-13 13:30] benjeffery commented on #57
I'm starting to look through this and consider the design.
Couple of initial thoughts:

- https://pypi.org/project/schema/ is interesting - it would mean the schema types more closely matched what the user had in python. I'm thinking numpy arrays here. It only does validation so we wouldn't have the fancy class creation that `pjs.ObjectBuilder` gives you, but I'm not convinced of the benefits of `

[2020-03-13 15:03] jeromekelleher commented on #57
This is definitely a non-goal. It's just too complicated I think, and people can build what they need themselves on top of the raw bytes we're providing.

[2020-03-13 16:13] petrelharp commented on #57
I guess the tradeoffs are between readability, ease of use, and file size? I think maybe the most useful thing here would be to come up with some use cases beyond SLiM's. (btw, the SLiM metadata scheme is described well near the end of the SLiM manual; or, see how it's used in pyslim)

[2020-03-16 13:48] jeromekelleher opened #485 "[Docs] map_mutations says max alleles is 63 but it's 64"
Fix doc typo.

[2020-03-16 14:02] benjeffery commented on #57
Thinking about this more, to reduce the uncertainty I'm going to implement for `struct` `json` and `msgpack`. This will help me get a better handle on the trade-offs and get some performance/storage size metrics.

Initially this will require the user to specify an explicit schema, as a separate issue we can consider if it is desirable to add mechanisms to help them generate this from pre-existing

[2020-03-16 14:24] jeromekelleher commented on #57
Sounds like a plan @benjeffery!

[2020-03-17 22:06] hyanwong commented on #467
I have this problem too, but didn't take the time to debug it, so thanks @gtsambos

[2020-03-17 22:13] hyanwong commented on #467
Presumably the reason we are adding ids is so that we can target them using css. If so, we should probably use *classes* instead, e.g.

[code]

Then, we should assign the object string to the `id` attribute of the whole SVG object, so that we can do, e.g.

[code]

or whatever

[2020-03-17 22:26] hyanwong opened #487 "kc_distance doesn't ignore unary nodes"
We should presumably have the same KC distance regardless of unary nodes. But the example below shows that it doesn't work:

[code]

ping @daniel-goldstein as he's working on KC distance calcs at the moment.

[2020-03-17 22:32] daniel-goldstein commented on #487
I haven't worked with simplify or unary nodes much, so I could easily be wrong here, but would simplifying a unary node change the time from that node to its immediate parent? Aside from pair-wise comparisons, kc also considers the branch length of each leaf.

[2020-03-17 23:11] hyanwong commented on #487
Yes, this is with topology-only metrics, so should work.

[2020-03-17 23:13] hyanwong commented on #487
When you `simplify()` like this, you *remove* the unary nodes. They should probably be being ignored in the kc distance. Indeed, we might want to simplify before running the calculations, within the `kc_distance()` code. Probably worth chatting to @jeromekelleher about it.

[2020-03-18 09:11] jeromekelleher commented on #467
Good idea. I know nothing about CSS, unfortunately. @benjeffery, any thoughts?

[2020-03-18 09:17] jeromekelleher commented on #487
This is interesting. I'm not immediately convinced that unary nodes should be ignored (but I agree that seems like the most likely thing to do). What are the actual values output in your sims above @hyanwong? We should boil this down to the simplest possible example and see what we're actually doing with the presence of unary nodes and then see whether this is contrary to the definition of KC dist

[2020-03-18 09:23] hyanwong commented on #487
They are massively different, by an order of magnitude:

[code]

Agreed

[2020-03-18 09:25] hyanwong commented on #487
NB: I noticed this when comparing the old tsinfer (which simplified with `keep_unary=False`) to the new one (which has `keep_unary=True`). It made it appear that the new versions were *way* worse in terms of topology reconstruction.

[2020-03-18 09:27] jeromekelleher commented on #487
Huh, sounds like a bug in KC if they're way different. Good catch.

[2020-03-18 09:46] hyanwong commented on #487
I'm inclined to leave this to @daniel-goldstein to fix, if he's happy with that, as he is working on the code at the moment. Is that OK Daniel? Happy to take it on if not, though.

[2020-03-18 10:07] benjeffery commented on #57
As I'm working this through I had a thought. We have multiple provenance records so that each tool along a pipeline can add it's entry. This current metadata proposal only has one metadata schema per table.

If a downstream tool or user wishes to add metadata they would have to read out the current metadata, merge the schema and contents and replace. Instead it could work like provenance where you

[2020-03-18 10:57] daniel-goldstein commented on #487
I’d be happy to take it!

[2020-03-18 11:03] jeromekelleher commented on #57
Hmm, that sounds tricky. I think we should consider the end-user's perspective as the most important, and they'll find having multiple layers of metadata confusing, I'd imagine. It's not such a big deal to read in the metadata, convert it into your own format and then write it out again with a new schema is it? (Especially when the metadata is decoded automatically...) I think we can say that well

[2020-03-18 11:11] benjeffery commented on #57
Agreed that it would be more complex - I think I'm still getting my head round the creator vs consumer use-cases of the library. Like you say it isn't a massive burden on creators to manage metadata merging.

[2020-03-18 11:16] jeromekelleher commented on #57
In my mind the consumers vastly out-number creators, and they will often be people with limited programming experience. Our job is to make their lives as easy as possible, and to make it easy for them to do the right thing.

[2020-03-18 14:29] daniel-goldstein commented on #487
So the removal of unary nodes does change the topology as far as KC is concerned. The value `m[u, v]` is the depth of the mrca of u and v, which will differ before/after simplifying if there are unary nodes above the mrca.

An easy "fix" would be not to count unary nodes toward the depth count, but this does feel like a deliberate decision that could be a flag, like @jeromekelleher suggested. I te

[2020-03-18 14:46] jeromekelleher commented on #487
Right, because depth is measured in node hops.

Simplest thing to do would be to raise a ValueError for now if we detect a unary node. Easy enough to simplify the tree sequence if you want to do comparisons. Any objections @hyanwong?

[2020-03-18 14:56] hyanwong commented on #487
Yep. Or simplify the TS under the hood and document - either fine by me.

[2020-03-18 15:03] jeromekelleher commented on #487
Don't really want to simplify as this is a method of the Tree. Gets complicated.

[2020-03-18 15:09] daniel-goldstein commented on #487
Ok, I'll just throw an error for unary nodes.

[2020-03-18 16:15] hyanwong commented on #487
Of course: a good point about it being a tree method. Not sure what the semantics should be when we make an equivalent TS method, though.

[2020-03-19 15:42] benjeffery commented on #468
So I've tried `flake8-docstrings`. For our current style we have to turn off a lot of the checks, and it doesn't have alternatives that enforce the style we want. It also is complaining about a lot of undocumented public methods. This is probably worth checking, but not as a pre-commit and not something I want to get into now.

I think this issue can be closed.

[2020-03-19 15:59] jeromekelleher commented on #468
Done.

[2020-03-19 15:59] #468 closed

[2020-03-24 09:46] jeromekelleher commented on #62
Just a note here to follow up: a lot of the comments here are now out of date, as we do support output of labels on the trees, and we now have a simple Python newick generator as well as the high performance C implementation. We can add things like the ``root_length`` to the Python generator easily.

[2020-03-24 09:49] #39 closed

[2020-03-24 09:50] #21 closed

[2020-03-24 09:53] #119 closed

[2020-03-24 10:15] jeromekelleher commented on #434
@benjeffery --- another thing to bear in mind as you're thinking about metadata. In an ideal world we'd output site metadata as INFO fields in the VCF. The limitations of VCF shouldn't restrict what we can do, but it would be nice if simple metadata annotations could end up being output to VCF.

[2020-03-24 10:18] jeromekelleher commented on #398
Just doing a bit of repo gardening here - did we end up with a resolution on this @gtsambos, @petrelharp ?

[2020-03-24 10:27] jeromekelleher opened #495 "Standardised metadata keys"
In #375 we discussed the idea of having ``time_units`` stored somewhere in the tree sequence. This is useful info that users should have access to, while still being something that tskit does not need to use. One idea is that we should document that this is a standard thing to expect in a tree sequence metadata, and it has a number of accepted values ("generations", "years", "megayears").

Since t

[2020-03-24 10:27] jeromekelleher commented on #375
So, I think it's clear this will go into the tree sequence metadata, possibly becoming one of a set of standardised values that can be expected. Shall we close this issue, or open up a more general one where we discuss what a (minimal) set of standardised metadata keys would look like?

Closing this discussion here in favout of #495, which is slightly broader.

[2020-03-24 10:27] #375 closed

[2020-03-24 10:42] benjeffery commented on #495
We currently have `sequence_length` as a top-level attribute on `tsk_table_collection_t` which is similar for the other dimension. Does it make sense to have one as units and the other as total length?

[2020-03-24 11:00] jeromekelleher commented on #495
I think it's reasonable to have ``time_units`` as an attribute. I'm imaging that we could have a few others later on like ``assembly`` to describe sequence the coordinate space. The question is really whether this is tree sequence **data** or **metadata**...

[2020-03-24 11:00] #404 closed

[2020-03-24 11:07] benjeffery commented on #495
One consideration is that metadata is going to be harder to access from the C API.

[2020-03-24 12:16] jeromekelleher commented on #62
The [wikipedia page](https://en.wikipedia.org/wiki/Nexus_file) for nexus files is a good place to start for references and details.

[2020-03-24 12:51] petrelharp commented on #495
The units of sequence length could also be nice (although I hope everyone just uses bp).

[2020-03-24 13:35] jeromekelleher commented on #495
What do you think about keeping this sort of thing as a tree sequence attribute vs pre-defined standard metadata @petrelharp ?

[2020-03-24 13:49] petrelharp commented on #495
Feels like metadata to me, I think.

[2020-03-24 13:59] molpopgen commented on #495
Agree that this is metadata.  We need a sensible term for the default length of 1 in msprime.

[2020-03-24 14:09] jeromekelleher commented on #495
OK, sounds like agreement then. I guess we can stick with the operational definition of "if tskit uses it, it's data; otherwise metadata". Things can be promoted later if we do end up using them.

[2020-03-25 01:40] petrelharp commented on #398
I've done some experimenting with eigenstrat and popstats, and have concluded that (a) their documentation is terrible, (b) what is returned by `qp3Pop` differs by some scaling to our f3( ), and (c) popstats looks more promising, but I can't get it to run.  Still - I'm convinced that what we computed agrees with the definitions given in several papers now (most usefully, in Peter 2016), and we doc

[2020-03-25 02:24] gtsambos commented on #398
I'm happy to close as well. It's pretty unfortunate that we can't get an external software working to verify these, but this isn't anything we can do about without sinking a lot more time into it -- I've also spent more time than I wanted to on this. It is disappointing that the software for computing these statistics on *genotype* data isn't obviously reliable. I'm happy to close, but I still thi

[2020-03-25 03:58] petrelharp commented on #398
Have a look at the additions to the docs I made over in #397, @gtsambos and see if you think it improves things.

I agree, but I hope that the [existing docs](file:///home/peter/projects/tskit-dev/tskit/docs/_build/html/python-api.html#tskit.TreeSequence.f4) explain clearly exactly what they are computing?

[2020-03-25 04:11] petrelharp opened #498 "`pre-commit` fails on some wierd virtual environment error"
Here's what happened when I tried to do `pre-commit install`:
[code]

I'm admittedly a luddite when it comes to python virtual environments, but: don't they always create trouble? Can't we just put the packages we want in `requirements/development.txt` and provide people with a pre-commit hook they can drop into `.git/hooks/pre-commit`? Isn't this `pre-commit` package just running a half dozen com

[2020-03-25 04:20] petrelharp commented on #498
Furthermore, having a list of explicit commands that are run will make it easier to debug things. For instance, right now #497 is failing because of `blacken-docs`, but when I run `blacken-docs` locally I don't get any changes... am I running it in just the same way? I don't know?

[2020-03-25 06:42] grahamgower commented on #498
+1 On avoiding this package called `pre-commit` (which annoyingly has the same name as the simple git hook, meaning that it stomps all over one's results in a google search).

[2020-03-25 09:24] jeromekelleher commented on #498
Hmm, that's a pity. My take with asking less-experienced people to use raw git pre-commit hooks has been pretty bad (they're really not that easy to use), so I've given up on it. Using pre-commit is genuinely useful from a CI perspective as we have a whole pile of things we can check without having to cobble them together ourselves. So, I'd like to persevere with pre-commit for a while and see if

[2020-03-25 09:25] jeromekelleher commented on #498
Any idea what's gone wrong for Peter here @benjeffery?

[2020-03-25 09:29] jeromekelleher commented on #498
Looks like #497 is fine now @petrelharp - did you get some debugging output from the github workflow or did you figure out how to make blacken-docs help you out locally?

The tools are there to help us develop - if we find that some of them are getting in the way then we can always get rid of them.

[2020-03-25 10:24] benjeffery commented on #498
The idea of pre-commit is that it manages the dependencies for the checks, upgrading them automatically as the version is changed in the `.pre-commit.yaml` file. In this way your local checks and the CI are always in sync. This is separate from any virtualenv you might be using to run tskit. It also only runs the checks on changed files, you can do a manual check on everything with `pre-commit run

[2020-03-25 10:31] benjeffery commented on #498
@petrelharp can you confirm `pre-commit --version` - I should probably pin this in the requirements.

[2020-03-25 14:19] petrelharp commented on #498
This is `pre-commit 2.2.0`.

I figured out what the output in github was saying needed to happen.

I supsect the error is happening because I don't have python3.6 - only python3.7, and `.pre-commit-config.yaml` specifies python3.6.  ... yep, that's it - changing the relevant line in the black configuration of that file to
[code]
fixes the problem for me. But, will this break it for others?

[2020-03-25 14:28] jeromekelleher commented on #498
Ah - well, requiring a specific python version for devs is definitely over prescriptive. Hopefully we can relax that.

[2020-03-25 15:38] benjeffery commented on #498
This may be a solution:
`language_version: python3`
https://github.com/pre-commit/pre-commit/issues/1375#issuecomment-603906811

[2020-03-25 15:45] petrelharp commented on #498
That seems to work!

[2020-03-25 17:36] molpopgen commented on #498
Shouldn't--py3 is required, right?  Unless f-strings are being used internally, we are probably good?

[2020-03-26 12:47] jeromekelleher opened #500 "Change TableCollection to be a mapping tablename -> table?"
Currently the [__iter__](https://github.com/tskit-dev/tskit/blob/master/python/tskit/tables.py#L1592) method of TableCollection returns an iterator over tuples (tablename, table), which is a bit weird. It would be much more natural to have TableCollection be a map so that ``tables["edges"]`` returned the edge table, ``tables.keys()`` was an iterator over the table names, etc.

But, what about top-

[2020-03-26 17:03] petrelharp opened #501 "output legal VCF"
Currently we write out the ancestral state and derived state in the REF and ALT columns of the VCF file. These can be anything, for instance (from SLiM):
[code]
 Unfortunately, (IIRC) the standard for VCF files says that REF and ALT need to be strings of nucleotides:
![vcf](https://user-images.githubusercontent.com/1046249/77674505-f1022700-6f48-11ea-965c-1cfae6596423.png)

This was brought up [he

[2020-03-26 18:06] jeromekelleher commented on #501
This seems like an issue with SLiM to me - perhaps pyslim could provide a function that would map the numeric alleles that are in the tree sequence to nucleotides? Tskit is doing the right thing I think.

[2020-03-26 18:06] attrna commented on #501
Hi! I would suggest putting the information about the origin of alleles to the INFO field. INFO field can contain any information, so it can be something like DA=16823049, with the description in the header of the vcf (##INFO=<ID=DA,Number=A,Type=Number,Description="Derived Allele">). Also, I think it would be better to keep REF and ALT as strings of nucleotides.

[2020-03-26 22:11] petrelharp commented on #501
That's what I thought at first, but in fact tskit outputs 0s and 1s, which are also not legal according to that document. Do those not cause parsing problems?

[2020-03-26 22:12] petrelharp commented on #501
@attrna, how do you think we should translate the alleles into nucleotides?

[2020-03-26 22:29] attrna commented on #501
The old version of tskit outputs A and T, but without additional alternative alleles, e.g.
Actually, I don't know what's happening to the sites with 1|2 here

`##fileformat=VCFv4.2
##source=tskit 0.99.2
##FILTER=<ID=PASS,Description="All filters passed">
##contig=<ID=1,length=50000001>
##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	msp_0

[2020-03-27 09:02] jeromekelleher commented on #501
Well tskit outputs the allele values of the genotypes exactly as they are stored, which is the right approach I think. If you're working with real data, then you'll have nucleotide values in there and it all works as expected. With msprime, by default we store 0/1 but we can simulate nucleotides. We add something like an ``allele_map`` argument to ``write_vcf``, so we could pass something like ``{

[2020-03-27 13:03] #498 closed

[2020-03-27 17:12] petrelharp commented on #501
Ok, I'll move this over to pyslim.

[2020-03-30 07:29] #398 closed

[2020-03-30 17:49] petrelharp opened #504 "allele frequency function"
We should implement the `TreeSequence.allele_frequencies(sample_sets)` function, which returns a numpy array of (non-ancestral allele frequencies) x (sample_sets).

Here's an implementation:
[code]
**Edit:** originally this omitted `span_normalise=False`.

[2020-03-30 17:52] jeromekelleher commented on #504
Nice, good idea.

[2020-03-30 19:37] molpopgen commented on #504
It may be nice to optionally return the joint fs as a sparse matrix.

[2020-03-30 19:41] petrelharp commented on #504
I'm not sure what you mean here?

[2020-03-30 19:49] molpopgen commented on #504
I assume your return value is the marginal fs in each sample set, but sometimes you want the joint fs to instead, such that fs[2,3] is the number of mutations present twice in sample set 0 and three times in set 1.  Or maybe I'm not understanding what you are returning here.

[2020-03-30 21:07] petrelharp commented on #504
That sounds like the AFS? Which we already have? Here I'm wanting to return the list of allele frequencies for each SNP.

[2020-03-30 21:09] molpopgen commented on #504
Gotcha--my mistake.

[2020-03-31 07:49] jeromekelleher commented on #504
Triggered my AFS implementation PTSD there - would *not* want to do that again!

[2020-03-31 13:21] jeromekelleher opened #506 "[C API] Copy columns out of kastore"
Currently when a tsk_table_collection is read from file, it uses the kastore object as the backing memory. That is, we have a ``self->store`` pointer which we maintain for the lifetime of the table collection, and the table columns all point directly to the store's memory. This setup was motivated by a desire to use mmap within the kastore and therefore have zero copy semantics all the way down to

[2020-03-31 13:35] benjeffery commented on #506
Yep, sounds good, had using `set_columns` in mind for this too. Will remove some complexity and doesn't seem a large cost. At a glance it looks like a very simple change.

[2020-03-31 14:02] molpopgen commented on #504
I shouldn't comment when I haven't been sleeping. 😵

On Tue, Mar 31, 2020, 12:50 AM Jerome Kelleher <notifications@github.com>
wrote:

[2020-03-31 15:47] petrelharp commented on #506
I don't really understand the implications, but was one of the motivations for zero-copy to reduce memory usage?

And: Perhaps you'll give us pointers about how to modify [the SLiM code](https://github.com/MesserLab/SLiM/blob/57e6eb3521403148454f3442d54cfc97b4cffb3c/core/slim_sim.cpp#L8087) that [uses this API]( https://github.com/MesserLab/SLiM/blob/57e6eb3521403148454f3442d54cfc97b4cffb3c/core/s

[2020-03-31 16:01] jeromekelleher commented on #506
It would slightly increase memory usage in the short term as we'll have two copies of the data around while the kastore is open and we're loading in the files. However, I'm hoping we can ultimately avoid copying the table_collection_t object when we're creating a tree_sequence_t, by marking an input table collection as read only and owned by the tree sequence. This will be worth much more in terms

[2020-04-01 08:30] jeromekelleher opened #507 "Automate release process?"
Our Python release process is a little tricky, consisting of

- Bumping the version number in ``tskit/_version.py`` (we use setuptools_scm in msprime and other repos to do this automatically based on the Git tags. I couldn't get this to work properly with the multi-language structure of this repo though, so ended up handling this manually).
- Setting the release date and finalising the notes in th

[2020-04-01 13:13] jeromekelleher commented on #507
See here for cool stuff on wheel building: https://github.com/zarr-developers/numcodecs/pull/224

[2020-04-02 10:33] benjeffery commented on #507
Nice, it is certainly on my list to review releasing and packaging. Python packaging is certainty moving in the right direction, e.g. https://snarky.ca/what-the-heck-is-pyproject-toml/

[2020-04-02 11:43] jeromekelleher commented on #507
Cool, I'm totally on-board with that!

[2020-04-02 14:22] molpopgen commented on #507
Nice point here on ditching `requirements.txt`: https://snarky.ca/clarifying-pep-518/

I haven't totally wrapped my head around pep 518, especially when compiled code is part of the process.

[2020-04-03 07:49] #487 closed

[2020-04-03 09:02] jeromekelleher opened #509 "[Docs] Doxygen not mentioned as requirement for docs building"
We don't say that you need to have doxygen installed to build the docs. This will catch people out, particularly mac users presumably.

I guess a quick pointer on how to install doxygen on Ubuntu and OSX would be the best option? We should include a full list of packages you need on Ubuntu for development somewhere too.

[2020-04-03 16:43] molpopgen commented on #509
Should probably just recommend conda for macos?

[2020-04-05 22:27] benjeffery opened #511 "Add asv benchmarks to track performance"
Unit tests give us confidence in correctness, this would give us confidence in performance. See for example numpy's: https://pv.github.io/numpy-bench/#/

It would be work to develop the benchmarks, but we could start small.

[2020-04-05 23:13] petrelharp commented on #511
This would be great. @brnorris03 may have input here.

[2020-04-06 07:51] jeromekelleher commented on #511
Yes, this is a great idea! We could start with a handful of things like timing tree iteration and build from there.

My only question is, where do we run them and where do we keep the benchmarks? Can we do this as part of CI?

[2020-04-06 08:04] benjeffery commented on #511
Yep, this would be done as an automated process. I haven't looked into if it's easy to get metrics on branches so you can check before merge, but don't think that's a deal breaker. Key obviously is to have a consistent environment, might need a cheap server somewhere unless I can find a "free for OSS" solution.

[2020-04-06 09:29] benjeffery commented on #472
Linking this here for later reference: https://www.bernat.tech/the-state-of-type-hints-in-python/

[2020-04-06 11:11] jeromekelleher commented on #511
Happy to spend some money on an AWS (or whatever) instance we spin up for this (just need to figure out how we set up the billing with Oxford).

[2020-04-06 12:59] benjeffery commented on #511
I think it would be pretty cheap as it would only spin-up when there are tests to be run.

[2020-04-06 14:35] brnorris03 commented on #511
Cloud resources are typically shared (dedicated is possible, but more expensive), so timing would be unreliable. Would it be acceptable to set up local server performance testing instead?

[2020-04-06 15:00] brnorris03 commented on #511
More specifically, it is actually not too hard to set up a Travis CI server locally (so I am told, I haven't actually done it), which would enable us to use Travis for both the correctness and performance tests. Ideally, you'd have a few different architectures running CI servers.

[2020-04-06 15:57] jeromekelleher opened #512 "Jupyter notebook friendly output for tables"
Add ``_repr_html_`` for tables to display them nicely in Jupyter notebooks.

[2020-04-06 16:08] jeromekelleher commented on #511
Thanks @brnorris03, that's really helpful. We could set up a local server and just run these benchmarks as a pre-release exercise. If we want to run this for every PR (and, I guess, you'd really want to do this to catch regressions early) we'd have to make it a cloud setup.

How do numpy set theirs up @benjeffery?

[2020-04-06 16:35] benjeffery commented on #512
See https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html#IPython.display.display for details of how `display` works. We could also do _repr_svg_ for trees. Basically `display` passes all the `_repr_###` results to the frontend which picks the one it wants.

[2020-04-06 17:22] jeromekelleher opened #513 "Add MutationTable.time column"
Currently we have no way of recording the precise age of a mutation. All that we know is that it occured somewhere on a branch. Most of the time this isn't an issue, but there are situtations in which we need to record this precise time (see, https://github.com/tskit-dev/msprime/pull/946, e.g.).

We can add a MutationTable.time column easily enough. If the mutation time is *not* specified (the def

[2020-04-06 17:54] petrelharp commented on #513
Supporting information that this is a good idea: SLiM already records the time, but in metadata.

[2020-04-06 19:22] benjeffery commented on #511
I can't find anything on where numpy run theirs, the output is uploaded to a github pages site at https://github.com/pv/numpy-bench

Pandas run theirs in someone's basement! https://tomaugspurger.github.io/maintaing-performance.html

I'll look into options when I tackle this ticket.

[2020-04-06 19:24] molpopgen commented on #513
fwdpy11 does the same thing.  If you keep tables in the native (fwdpp) format, the mutation's origin time is with respect to time moving forwards.  If you dump to the tskit format, then origin times are changed to be pastwards from the last time point simulated.

[2020-04-07 07:45] jeromekelleher commented on #513
I'm reassured we all think this is a good idea!

[2020-04-07 08:25] benjeffery commented on #513
Do we know why slim includes this in metadata? It seems to be a core enough property of a mutation to warrant inclusion as a column.
I agree on getting #506 done first and making this backwards compatible. This will be the first "non-trivial" default value so care will need to be taken in documenting the behaviour.

[2020-04-07 08:48] jeromekelleher commented on #513
It was just because it wasn't implemented in tskit and we decided there were other things to be getting on with, I'd imagine.

[2020-04-07 14:38] #512 closed

[2020-04-07 14:42] jeromekelleher opened #518 "RTD build failing"
https://readthedocs.org/projects/tskit/builds/10785421/

I think this is probably a pinning issue for sphinx also?

[2020-04-07 14:48] petrelharp commented on #518
You know, it'd be pretty easy to build docs ourselves and serve them with gh-pages.

[2020-04-07 14:51] benjeffery commented on #518
Yes, that's the exact same error. I'm looking throught the readthedocs docs, but can't see where you pin the version.

[2020-04-07 14:58] benjeffery commented on #518
Ahhh, found it, will PR

[2020-04-07 16:01] #518 closed

[2020-04-07 16:03] jeromekelleher commented on #518
RTD is annoying when it doesn't work, but it's served us well and it mostly does just work. It's bloody conda is the problem over in https://github.com/popsim-consortium/stdpopsim/issues/468

[2020-04-07 16:39] molpopgen commented on #518
gh-pages also blows up your repo size quite a bit.

[2020-04-07 16:44] molpopgen commented on #518
This is an RTD issue, which has been partially fixed recently.  You can request more memory for the project, but the best way to avoid it is to become a paying supporter of RTD.

[2020-04-07 16:54] petrelharp commented on #518
Really? `docs/_build/html` is only like 12M on msprime and tskit, and seems to be self-contained.

[2020-04-07 17:01] molpopgen commented on #518
Every time you rebuild and commit, the diffs are massive because of all the HTML gibberish that changes inside.

[2020-04-07 17:03] benjeffery commented on #518
That's easy to get round - just don't keep the history on that branch.

[2020-04-09 09:35] jeromekelleher opened #520 "Update setup.py to confirm python requirements"
Setup.py currently states that we need python >= 3.4, but we've recently started using f-strings.

Since Debian stable is currently on 3.7 and f-strings are pretty useful, I think we're OK to push our requirements up to 3.6. Happy to be convinced otherwise, although actually making sure that older versions of Python are supported is not trivial and pushes our CI requirements up a lot.

[2020-04-09 09:46] brianzhang01 commented on #520
I was on Python 3.5 when I encountered and reported this, but I guess it's time I upgraded. So the change works for me, but we should document it and maybe be extra explicit about what's going on.

The errors I got were:
- From flake8: `E999 SyntaxError: invalid syntax` at all the places with f-strings
- From nose tests:

[code]

I didn't do the pip install of development tskit, but some issues mi

[2020-04-09 09:55] benjeffery commented on #520
My bad, forgot to update setup.py when we used f-strings. Will do this today.

[2020-04-09 22:57] #520 closed

[2020-04-10 06:02] petrelharp commented on #273
Here's maybe an implementation (from https://github.com/petrelharp/treestats_ms/issues/43 - the same statistic?)
[code]
... and also, it'd be nice to have the statistic that is simply "how much of the sample genomes did each node contribute", which is:
[code]

[2020-04-10 19:48] petrelharp opened #527 "tree sequence with edges has no edges on load"
With the current HEAD, it seems that SLiM-produced tree sequences - which have edges - are not loaded with edges. For instance, running [this SLiM script](https://raw.githubusercontent.com/tskit-dev/pyslim/master/tests/examples/recipe_nonWF.slim):
[code]
tells me there are no edges:
[code]
but there **should** be, and kastore confirms it:
[code]

I bisected this, and found that this got introduced

[2020-04-10 19:54] benjeffery commented on #527
@petrelharp thanks for finding this, I agree that it's not at all good. I'll look into it. With those PRs we are introducing the first optional columns to keep backwards compatibility so likely I have missed some detail.

I had thought recently that we should put in some tests with older minor file format versions, this confirms that as it's not being picked up by the current test suite.

[2020-04-10 21:04] petrelharp commented on #527
definately!

[2020-04-11 14:39] jeromekelleher commented on #506
I'm having a go at this - this weekend is getting very long and I need some C coding therapy!

[2020-04-11 14:48] jeromekelleher opened #528 "[C API] Missing error check on table_x_copy"
e.g. https://github.com/tskit-dev/tskit/blob/5f58b6186993cc5e635c621ee6e7c7a62aab8649/c/tskit/tables.c#L1410-L1413

[2020-04-11 17:21] jeromekelleher opened #529 "[Dev] Warning spam in test_formats.py"
We're getting some warning spam on test_formats.py, e.g.
[code]
We should probably capture the warnings here during the tests, if we expect them.

[2020-04-13 18:24] saurabhbelsare opened #533 "Error with default tskit.write_vcf output in plink"
Unless alternatively specified, tskit's write_vcf function writes out default individual ids as tsk_0, tsk_1, … However, when I tried to input that vcf to plink, it would not accept “tsk_0” as it doesn’t accept “_0" at the end of an individual id. I fixed it simply by setting the individual ids for write_vcf as “tsk_0indv”, “tsk_1indv”… which plink is fine with.

This error stems from line 7846 of

[2020-04-13 18:38] benjeffery commented on #533
Thanks for the report @saurabhbelsare! Am I right in thinking using `--id-delim=-` in plink would fix this?
Also do you know if any other software uses this convention? We want things to work in the majority of cases, but we don't want to get into a game of VCF parser whack-a-mole!

[2020-04-14 00:19] saurabhbelsare commented on #533
Hi @benjeffery,
Thanks for your reply. I tried using the `--id-delim -` option, but plink throws an error saying `No '-' in sample ID`, and the corresponding bed/bim/fam files are not generated. I think plink needs the sample ids to be in the form <familyID><delimiter><indvID>, and hence if it is tsk_0, it is going to look for whatever alternative delimiter we specify, and not find it in the name.

[2020-04-14 14:34] petrelharp commented on #533
We might as well fix this - it would be easy - do you know what ID format would be more standard?

(but in the meantime: maybe `--const-fid 0` would do it, which is [default in plink 2.0](https://www.cog-genomics.org/plink/2.0/input#sample_id_convert)?)

[2020-04-15 00:59] benjeffery opened #534 "Tree-sequence-level metadata"
As discussed in #491 it would be useful to have top-level metadata, using the same schema and encodings as row-level metadata. #491 is already a large PR so this will be done separately.

[2020-04-15 01:06] benjeffery opened #535 "`struct` based encoding for metadata"
The `json` metadata encoding in #491 can be inefficient for larger scale work. It should be possible to use `struct` to encode the metadata with a schema that looks like:
[code]
Note the additional `format` and `index` keys that specify how to encode the metadata. The code would traverse the schema constructing a format string for `struct` using `index` as JSON objects are unordered. Note that we

[2020-04-15 07:19] jeromekelleher commented on #535
Sounds good. I'm not convinced about ``order`` - wouldn't ``index`` be more natural (since we're counting from zero)?

[2020-04-15 08:37] benjeffery commented on #535
I don't have a strong opinion, so `index` is fine.

[2020-04-15 08:43] jeromekelleher opened #536 "[C API] Allow editing of table collections loaded from file"
Currently if we try to edit a table collection that's loaded from a file we will get cryptic memory errors. Tables loaded from file should have the same semantics as any other table collection.

[2020-04-15 09:31] jeromekelleher opened #537 "[File format] Make all ragged column pairs optional on load"
#530 added some infrastructure for dealing with ragged column pairs, but there's still a lot of duplicated effort and the loading logic is quite convoluted. It would be much simpler if we have a unified way of stating a ragged column pair and they were all optional.

One way we might do this would look something like this:
[code]

So, we split up the different read types into main columns (must al

[2020-04-15 09:50] jeromekelleher opened #538 "[File format] Only write out ragged columns if data_length > 0"
Since we've added metadata to the edges table, we have a significant extra storage burden. In the (very) common case in which we store no metadata at all for edges, we will need to store a ``metadata_offset`` column which consists entirely of zeros. Since our load logic can handle this pair of metadata/metadata_offset pair as being optional, we should clearly not store this column pair when no met

[2020-04-15 14:52] petrelharp commented on #538
Sounds good to me!

This seems like a bigger can of worms, since lots of code uses the offset columns, including in python. I suppose that we could have the python layer return the appropriate thing if the offset column is asked for and it's not there, and deal with changes to the C?

[2020-04-15 15:26] jeromekelleher commented on #538
Sorry, I wasn't clear here. The tables API **always** has valid memory and columns defined as part of it's contract, it's just the file format we're talking about here.  It's much too complicated and awkward otherwise.

[2020-04-15 15:31] jeromekelleher commented on #273
@awohns, would you mind taking a look at this please? It would be great if we could replace the code for our bespoke stats with this.

[2020-04-15 15:42] jeromekelleher commented on #533
Thanks for the report @saurabhbelsare, this is really helpful information. Since we can specify the sample IDs manually, and people are probably depending on the current form, I don't think we want to change the default behaviour now.

A note in the documentation with a quick recipe for ``individual_names`` that'll work with plink is a good option I think.

[2020-04-15 15:54] petrelharp commented on #538
Well, it does say "`[File Format]`" up at the top... =)

In that case, I wonder if it's worth the trouble, because memory is often more constraining than disk space? I'm not opposed, though, and having smaller files for lots of simulations would be nice.

[2020-04-15 16:39] jeromekelleher commented on #538
Some people store *lots* of simulations, you'd be surprised. On the other hand, I'd be extremely surprised if many people have hit practical memory limitations with loading tree sequences. You can still fit a very big tree sequence in a gig of RAM, which is basically the smallest unit of RAM you would ever allocate to a single core.

[2020-04-15 18:32] jeromekelleher commented on #538
Your right, I keep forgetting that SLiM builds big tables in memory. Hmm, that does put a different spin on it, and perhaps some flags at create time (NO_METADATA) or something would help. It'll complicate the code a bit, but save a fair bit of memory.

Anyway, orthogonal, as you say.

[2020-04-15 22:12] saurabhbelsare commented on #533
Thanks @petrelharp, @jeromekelleher. Just something as simple as this worked for me

[code]

[2020-04-16 08:36] jeromekelleher commented on #533
Good, looks like we all agree  then. @saurabhbelsare, it would be super helpful if you could open a PR to add this to the documentation for [write_vcf](https://github.com/tskit-dev/tskit/blob/master/python/tskit/trees.py#L3515).

I think a sphinx ``.. note`` block would be good to alert plink users to this problem and give them a nice neat solution (we should probably focus on diploid though, for

[2020-04-16 08:52] #527 closed

[2020-04-16 08:52] #506 closed

[2020-04-16 08:52] #528 closed

[2020-04-16 08:53] #536 closed

[2020-04-16 16:14] awohns commented on #273
So here's my understanding of mean_descendants, genomic_descent, and compute_ancestry: as you mentioned peter, compute_ancestry does *not* normalise by the span where each node is ancestral to any node in a sample set and thus differs from the other two. The difference between genomic_descent and mean_descendants is that former also normalises by the size of each sample_set.

I can't think of a si

[2020-04-16 16:31] jeromekelleher commented on #273
So, shall we just get rid of ``mean_descendants``?

[2020-04-16 16:34] jeromekelleher commented on #273
Let's not forget about #328 though (I had!)

[2020-04-16 16:49] awohns commented on #273
Reading over #328, it seems like this discussion was before the formal definitions of genomic_descent and compute_ancestry. Given that those two exist I don't really see a use case for mean_descendants as a standalone statistic... but maybe somebody can think of a reason for keeping it?

I think that to get mean_descendants from @petrelharp's implementation of genomic_descent, all you need to do i

[2020-04-16 18:28] jeromekelleher commented on #273
OK, I'm happy to got with whatever you and @petrelharp think here. I just want to delete some code!

[2020-04-17 16:23] petrelharp commented on #273
I agree, that normalizing by the size of the sample set is always sensible; it's at least easy for the end user to reverse, so we don't need an option for it (and certainly not a different function!).

Note: we don't have a function called `compute_ancestry` already - when you say "these two exist" do you mean using the definition above in this thread?

All these things are ways of summarizing "wh

[2020-04-17 21:53] saurabhbelsare commented on #533
Hi @jeromekelleher, I've submitted a pull request including the comment in a note block in the documentation. Let me know if everything looks ok.

Thanks!

[2020-04-20 08:26] jeromekelleher commented on #533
Thanks very much @saurabhbelsare, the note is perfect!

Closed in #541

[2020-04-20 08:26] #533 closed

[2020-04-20 13:20] #401 closed

[2020-04-21 08:12] jeromekelleher commented on #389
Now that #411 is merged, we're in a position to improve our drawing code. I think there's two options:

1) Change the order that we draw trees to use the minlex ordering.
2) Add an option ``leaf_order`` to the various drawing functions, which defaults to None (the current behaviour) and can optionally be "minlex".

I'm in favour of (2), since this will break no existing code, and implementing it w

[2020-04-21 09:01] jeromekelleher opened #549 "Update dictionary encoding in _tskitmodule and dependent repos"
Once all the additional columns have been added to the table collection, we need to update the low-level dictionary encoding of the tables to accept these and update the tests. The new code and tests should be copied to dependent repos which are

- msprime
- tskit

This must be done **before** 0.2.4 is released, so that tests don't start failing on the downstream repos or (worse) we start silently

[2020-04-21 10:03] jeromekelleher commented on #549
We should adapt the tests in https://github.com/tskit-dev/msprime/pull/962 here also, to make sure that we keep the encodings in sync.

[2020-04-21 17:56] brianzhang01 commented on #389
I would prefer Peter's suggestion as well, but I'm open to other views. As a reminder, there's already a version [here](https://github.com/tskit-dev/tsviz/tree/master/pygame) if anyone wants to play around with visualising trees with minlex vs. no minlex. You need to install PyGame, which Yan had some trouble with, but then you can use the visualisation with `--sort 0` vs. `--sort 1`. If there are

[2020-04-22 07:51] jeromekelleher commented on #389
OK, great, let's default to ``leaf_order="minlex"`` then. What would we call the standard order that comes out of postorder? How about "natural" maybe? I don't really like that - any better ideas?

[2020-04-22 13:42] brianzhang01 commented on #389
The current order is to recursively traverse in the order returned by Tree.children(node). I don't understand what currently goes into determining that order. Some suggestions: `leaf_order="normal"`, `"naive"`, `"standard"`, `"children_order"`.

[2020-04-22 14:31] jeromekelleher commented on #389
Well there is a sense of left-to-rightness in the trees, as each node has a left_child, right_child, left_sib and right_sib. The order we get then is the result of traversing in this order. Maybe "tree_order" gets this across?

[2020-04-22 14:32] jeromekelleher commented on #389
Or just ``leaf_order="tree"``?

[2020-04-22 14:48] brianzhang01 commented on #389
`leaf_order="tree"` sounds great to me. And thanks for explaining left_child / right_child / left_sib / right_sib -- it makes more sense to me now.

This also stood out from the documentation: "The left-to-right ordering of children is arbitrary and should not be depended on; see the data model section for details." And "The left-to-right ordering of nodes is determined by the order in which edges

[2020-04-22 15:49] jeromekelleher commented on #389
Thanks @brianzhang01, let's go with leaf_order=tree unless anyone complains. I'll code this up when I get a chance.

[2020-04-22 23:44] benjeffery commented on #535
`format` is already a JSONSchema keyword, so we'll need to use `structFormat` or similar. Details of how to extend the current validator are at https://github.com/Julian/jsonschema/blob/master/jsonschema/validators.py#L414

[2020-04-23 07:23] jeromekelleher commented on #535
How about ``codec``?

[2020-04-24 11:39] jeromekelleher commented on #467
Yes please Yan, this is an annoying problem.

[2020-04-24 14:33] hyanwong commented on #467
@jeromekelleher I also wonder if we should remove the prefix `edge_` from the class names, as it should be easy to target the edge currently labelled `edge_0_3` using the fact that it is contained in a group called `edges`. Separating the parent from the child number would also be helpful, as then we could easily target e.g. all the edges with a particular parent or child. So (to save svg space),

[2020-04-24 14:38] hyanwong commented on #467
While I'm at it, I suspect it would also be useful to give each mutation a class, say `m6` for mutation ID 6. We could also give them the site ID, which would be useful to colour all mutations for the same site in a give colour. So a mutation with id 6 at site 3 would have `class="m6 s3"`

[2020-04-24 15:37] jeromekelleher commented on #467
Sounds good to me @hyanwong - but let's defer to @benjeffery here. How about working up your proposal as a PR?

[2020-04-24 16:03] petrelharp commented on #467
Sounds good. Just checking: have you checked that this will fix the problem? It'd be pretty easy to check by editing the html (maybe with your browser's inspector).

[2020-04-24 16:36] hyanwong commented on #467
There is a problem with displaying a whole tree sequence, as we need unique IDs to apply positioning. I think we should probably just generate these on-the-fly. Am working out a PR

[2020-04-24 19:09] hyanwong commented on #467
Confirmed that #555 fixes the Jupyter notebook problem (in particular, commit https://github.com/tskit-dev/tskit/pull/555/commits/44ce5e6cdc6f7b154241654cbc21959d130225db)

[2020-04-25 07:43] hyanwong commented on #236
I think this can be closed, can it @gtsambos ?

[2020-04-25 07:48] hyanwong opened #556 "Iterate over edges within a tree"
It is occasionally useful, given a `Tree` object, to iterate over all the edges in that tree. Would it be easy to add an edges() iterator to the `Tree` class? For consistency with the `Tree.nodes()` iterator, I guess this should return the integer ID of the edge, rather than an edge object.

[2020-04-25 07:56] hyanwong opened #557 "Add edge ids to the SVG representation of a tree"
#555 will add support for selecting edges in the SVG represention of a tree by parent or child node ID. It will also be useful to be able to e.g. colour all the branches in a set of trees that have the same edge ID. This will require combining #556 with a reworking of the edge drawing logic.

[2020-04-25 14:16] petrelharp commented on #556
Hm, I could see this being useful. Since we never refer to edges by ID elsewhere, I vote for not starting to do that here, though? It could be, very simply:
[code]
... but is that what's useful? or is the times of the two nodes more useful? Or what? Or, maybe this is easy enough to get out that we don't need it?

[2020-04-25 15:46] hyanwong commented on #556
No, I meant the actual edge ID, not the contents of the edge. For example, when displaying multiple trees, we might want to highlight one edge. The edge might appear in multiple trees, so we need to identify it by ID.

Similarly, when considering 2 different trees, we might want to check if they share an edge. We *could* do this by comparing the whole edge object, including left & right positions

[2020-04-25 16:49] petrelharp commented on #556
Oh, that makes sense. Hm, is ID  the right way to identify them? For instance, what if you've got `a -> b` on [0, 1] and then `a -> c -> b` on [1, 2] and then `a -> b` again on [2,3]. Arguably the "edge" `a->b` should extend over `[0,3]`, but if not, it still seems like you'd want it to identify the edge on [0,1] and the edge on [2,3]?  For this the (parent, child) pair is the right labeling?

[2020-04-27 05:19] gtsambos commented on #236
Yep, wow this is old!

[2020-04-27 05:19] #236 closed

[2020-04-27 07:29] jeromekelleher commented on #556
If we want to see the structure of the tree sequence itself, I think Yan's right and the simplest/most useful thing to do is return the edge IDs/objects. I can see how we might want to highlight how a particular edge spans across multiple trees as a useful viz tool.

Unfortunately I don't think it's something we have easy access to. We'd need to change the tree update algorithm to have an ``edge``

[2020-04-27 07:42] hyanwong commented on #556
I agree, and see this as a "punt down the line" issue, but thought it was worth raising. Not sure if we want a "nice to have, but not v important" flag for tskit issues?

[2020-04-27 07:44] jeromekelleher commented on #556
Maybe the "enhancement" tag?

[2020-04-29 15:16] daniel-goldstein opened #564 "Break polytomies by random sampling from tree topologies"
A reasonable way to break up a polytomy of `n` nodes would be to randomly sample from all possible tree topologies of `n` leaves, insert that structure where the polytomy is, and then replace every leaf with the subtree rooted at the corresponding child in the polytomy. This will be pretty straightforward to write once #510 goes in.

[2020-04-29 15:20] jeromekelleher commented on #564
An additional layer to think about here is to do this in such a way as to keep the same polytomy breaking across adjacent trees. So, we don't want to look at each tree independently, but somehow to do this as we're generating the trees.

[2020-04-29 15:42] daniel-goldstein commented on #564
Ya I think we'll need to think on edges instead of trees, since we'll need to know the span of the replacement edges. So we could say something like the polytomy spans the distance between the insertion or removal of an edge into the polytomy.

[2020-04-29 16:07] petrelharp commented on #564
What do you need to break polytomies for - ranking?

[2020-04-29 17:48] jeromekelleher commented on #564
Well, good question. Sometimes you want to have binary trees, as, e.g. things like the RF distance are undefined for general trees. I'm not sure there's particularly good reasons for polytomy breaking personally, but some people disagree strongly with that.

[2020-04-29 18:46] grahamgower opened #565 "Support file streaming using kastore_openf"
Support for reading from and writing to a FILE* (in C) and file-like objects (in Python) has just been added to kastore: https://github.com/tskit-dev/kastore/pull/88. The next logical step is to make the analogous changes in tskit.

[2020-04-29 18:52] jeromekelleher commented on #565
Yep, as soon as C version 2.0 is tagged we should pull the new kastore into tskit. That could be done as soon as, nothing blocking the release of the kastore C API.

[2020-04-29 22:31] petrelharp commented on #564
Fair enough. But I'm always happy to help think of generalizations that don't require it...

[2020-04-30 07:50] jeromekelleher commented on #564
I'd much prefer to work with general trees too, but if people are going to do polytomy breaking, then it's better if they do it properly. But then, why invest effort in something we don't really believe is necessary...

[2020-05-01 08:38] jeromekelleher opened #567 "[Dev] Recommend isolated environment"
https://github.com/tskit-dev/tskit/pull/540/files#r412885352

For python devs a dedicated env is a good idea.

depends on #540

[2020-05-01 23:31] #470 closed

[2020-05-01 23:31] #118 closed

[2020-05-01 23:31] #454 closed

[2020-05-01 23:31] #509 closed

[2020-05-02 20:33] hyanwong opened #571 "draw_svg assert failure for medium-sizes tree sequences"
On the current master branch

[code]

Gives

[code]

This is not a huge TS really: we should be able to plot something like this. The `assign_x_coordinates` stuff was written by @jeromekelleher I think, so he might know immediately why it fails.

[2020-05-03 09:19] jeromekelleher commented on #571
The assert was left over from the text engine where coordinates have to be integers. Doesn't make sense, so easy fix. #572 can be merged whenever the dust settles on the other drawing PRs

[2020-05-03 23:03] #571 closed

[2020-05-04 09:35] benjeffery opened #574 "_repr_html_ method should truncate large tables (c.f. pandas)"
More than 50 rows should snip out the middle of the table, as large tables can hang the process, then the browser for a long time.

[2020-05-05 15:06] daniel-goldstein opened #575 "Enable internal samples for KC distance"
Internal samples are not currently supported in `Tree.kc_distance`, as it assumes leaves are synonymous with samples. However, the metric should show the similarity between trees with respect to the relationships between samples. This is a pretty straightforward change since the metric just focuses on pairs of nodes and their mrca, but it's worth noting the difference between leaves and samples an

[2020-05-05 23:03] #467 closed

[2020-05-06 09:16] jeromekelleher opened #579 "[Drawing] Add a TreeSequence.draw() method?"
We're getting some very powerful tools with the new draw_svg() functions, but we're missing a simple way to annotate a tree sequence (like say, node colours) without having to be an SVG/CSS guru.

What if we add a ``.draw()`` method to TreeSequence that mirrors the API of Tree.draw()?

I would say we keep most options, **except** ``format``. Then, the advice is

- Use ``draw_text`` if you want to

[2020-05-06 09:21] jeromekelleher commented on #579
This would be very handy in the msprime tutorial, for example, where we want to show tree sequences with node colours corresponding to different populations.

[2020-05-06 09:24] jeromekelleher opened #580 "[Drawing] Add Y axis ticks to TreeSequence.draw_svg()"
TreeSequence.draw_text() has y axis ticks for each node time:

[code]
which I find very handy.  I think we should do the same thing for TreeSequence.draw_svg  --- the only reason I didn't do it is because I ran out of time. This would be a good thing to get in as the default before we release, so we don't have to change default behaviour in the future.

Any objections?

[2020-05-06 16:34] jeromekelleher opened #583 "Update changelog for networkx stuff"
See #457

[2020-05-06 18:19] jeromekelleher opened #585 "[C API] Add TSK_NO_EDGE_METADATA option"
Metadata will sometimes be useful for edges, but when we're working with large edge tables (for example, in forwards simulators like SLiM) the extra memory overhead will not be welcome.

Add a flag TSK_NO_METADATA, which allows a table to work without having a metadata column. It would be used like
[code]
It's up to the user to make sure that they call, e.g., ``add_row`` with the appropriate argum

[2020-05-06 18:20] jeromekelleher commented on #585
To be clear, this would just happen when we're **creating** tables. When we read in tables from file, we always have metadata/metadata_offset columns allocated.

[2020-05-06 23:02] petrelharp commented on #585
This will work for SLiM. And, will tehre be a way to tell whether a table has metadata or not? (seems like there should be...)

[2020-05-06 23:03] petrelharp commented on #585
Huh. Not sure about this, because SLiM reads tables in from a file if it wants to start a new simulatoin from the state of a previous one?  I forget - maybe it copies those tables over to a newly init-'ed one, but there are some issues here I'm unclear about.

[2020-05-06 23:42] benjeffery commented on #585
It is all the zeros in the offset column when not using metadata that are the concern here, right? This might be too clever and complicated - but it would be possible to delay initialisation of the offset column until the first non-zero-length metadata was added. It would mean putting checking at every place you use the offset - but I think you'd have to do that anyway if init'ing the metadata is

[2020-05-07 05:20] petrelharp opened #588 "allow more general choosing of alleles in mutation models"
So, it turns out that while our mutational model is as flexible as one would want for, say, pylogenetics, it doesn't do what we need to for SLiM. There is more hashing out of the details in [this pyslim issue](https://github.com/tskit-dev/pyslim/issues/77), specifically [here](https://github.com/tskit-dev/pyslim/issues/77#issuecomment-619095634), but the upshot is:

- We currently throw an error i

[2020-05-07 07:37] jeromekelleher commented on #585
Hmm. We could provide the ``TSK_NO_EDGE_METADATA`` as an option to ``table_collection_load()`` then. Then, we pass TSK_NO_EDGE_METADATA to ``tsk_table_collection_init`` and ignore the metadata column when we're reading the kastore in the edge table, if ``self->options & TSK_NO_METADATA``. This is consistent with the above usage I think and reasonably simple to do.

I do want the default to be that

[2020-05-07 08:04] jeromekelleher commented on #588
I think the simplest thing would be for us to incorporate the SLiM mutation model into msprime. It's horribly complicated trying to get C code in different Python libraries to talk to each other. It is possible to supply a python callback that gets invoked by C (we've done this in the general stats API), but it's slow and tricky to do with full safety.

How about you make a Python version for the

[2020-05-07 08:56] hyanwong opened #589 "Set padding, axis margins, etc for SVG plots using a transform"
There are various places in the SVG code where we hard code units & padding, e.g. to make space for node labels, axes (in the case of `ts.draw_svg`) or for the root branch if there is one. Previously the suggestion has been to allow these to be set by the user using a matplotlib-style approach. However, I think it would be far better (easier and more flexible) to use an SVG transform on the plot f

[2020-05-07 08:57] hyanwong commented on #26
We can now do this via SVG styles (`text {transform: rotate(90deg)}`), and https://github.com/tskit-dev/tskit/issues/589 would deal with the padding issue, so I'm closing this.

[2020-05-07 08:57] #26 closed

[2020-05-07 09:19] jeromekelleher commented on #589
SGTM @hyanwong - hard coding spacings was a nasty hack, and doing things in the "right way" SVG-wise sounds great.

[2020-05-07 11:22] #57 closed

[2020-05-07 14:29] petrelharp commented on #588
Whoops, sorry - I meant to post this to msprime. Moving over there now. =)

[2020-05-07 14:31] petrelharp commented on #588
Sounds good. The most daunting part of all of this was adding the C whatnot to pyslim...

[2020-05-07 14:35] petrelharp commented on #585
Sounds good. I'm still pretty fuzzy on the downstream implications of what code this will affect, but that'll become clear doing it, I guess.

[2020-05-07 14:54] #389 closed

[2020-05-07 16:40] jeromekelleher commented on #585
I guess the only downstream user other than API clients is the ``tsk_treeseq_t``. It'll probably need to do a check on whether the ``TSK_NO_METADATA`` flag is set on tables when metadata is accessed, I guess. Although, I think we're taking a copy at the moment, so it might all just work out.

[2020-05-07 16:58] #459 closed

[2020-05-07 17:21] molpopgen commented on #70
@jeromekelleher -- we can close this (ancient) one.

[2020-05-07 21:25] bhaller opened #592 "[C API] Document tsk_table_collection_check_integrity()"
In the course of tracking down a bug in SLiM having to do with an uncaught (by SLiM) overflow of a tskit table (didn't check the pesky return value!), @molpopgen wrote a little snippet of debugging code, which I modified into this form:

			std::size_t debug_edge_index = 0;

			for( ; debug_edge_index < tables_.edges.num_rows ; ++debug_edge_index)
			{
				if ((tables_.edges.parent[debug_edge_inde

[2020-05-07 21:30] bhaller commented on #592
@petrelharp has pointed out tsk_table_collection_check_integrity() to me, so it looks like you're way ahead of me.  :->  Clearly SLiM ought to be calling this function when in DEBUG mode!  So , closing this bug now, sorry for the noise.  :->

[2020-05-07 21:32] bhaller commented on #592
(Although I do see that it's listed as "undocumented"; does that mean it's to be considered private API, not to be used by clients?  If so, then maybe this issue should be reopened, and considered a request for this API to be made public...

[2020-05-07 21:33] molpopgen commented on #592
it is public (non-static), but it could be handy to write the doxygen block so that it ends up in the manual.

[2020-05-07 21:50] molpopgen commented on #592
FWIW, I just wrote this a few minutes ago for something I'm working on.  The only trick is that I'm using `std::unique_ptr` with a custom deleter to manage the lifetime of the table collection:

[code]

[2020-05-07 22:33] molpopgen commented on #592
btw, that "relatively expensive" comment isn't saying it'll show up in a profile--it gets run during each simplification.  That's just a note to self to wrap it in an ifdef/endif block to get it into debug only mode later.

[2020-05-08 00:29] bhaller opened #593 "More fine-grained integrity check flags would be helpful"
I'd like to make SLiM call `tsk_table_collection_check_integrity()` in each generation, to ensure that bugs like https://github.com/MesserLab/SLiM/issues/62 don't slip through the cracks again.  However, the set of flags presently supported by `tsk_table_collection_check_integrity()` don't provide fine-grained enough control.  For example:

- While simulation is running in SLiM, we have no populat

[2020-05-08 00:30] bhaller commented on #593
Might interest @molpopgen as well

[2020-05-08 00:49] molpopgen commented on #593
Can you get by with just subsets of flags as appropriate?

[2020-05-08 00:58] bhaller commented on #593
If the existing flags get subdivided more finely, plus the automatic tests that are presently not controllable by any flag get put under appropriate flags as well (so that the function does nothing at all if passed flags of 0, ideally), that would probably do the trick.  I'm not requesting brand-new tests here (although if that happened, that would of course be great too).

[2020-05-08 01:01] molpopgen commented on #593
I think I get it--you have non NULL population values for nodes, but no population table until later, etc.?  I'm a bit new to some of this myself. fwdpp uses its own scheme for the tree sequence recording, and a few points are different.

[2020-05-08 01:13] bhaller commented on #593
I think all our population values are 0 in the tskit tables, because we have no population table.  But the code checks `population >= num_populations`, and `num_populations` is zero, so the check fails.  One possible fix for that would be to do the `population >= num_populations` iff `num_populations > 0`; don't enforce population index checks if the population table is empty/nonexistent.  But if

[2020-05-08 01:21] petrelharp commented on #593
Oh! If that's so, then we should be setting population to `-1`.

[2020-05-08 01:28] bhaller commented on #593
Hmm, I just ran with a breakpoint on the TSK_ERR_POPULATION_OUT_OF_BOUNDS failure.  I think @molpopgen's surmise was correct, actually; we're setting population indices according to SLiM's indices, but the population table just doesn't exist.  So they're not 0, necessarily; they are whatever the pop id in SLiM is, by the look of it.

[2020-05-08 01:36] petrelharp commented on #593
That makes more sense.

[2020-05-08 01:38] bhaller commented on #593
Spoke too hastily.  :->

[2020-05-08 09:48] hyanwong commented on #579
The other option, since the params to draw_svg are all keyword-only, is to add the extra simple options to draw_svg. The advantage is only a single function to remember, and more complex options can be used to override the simple ones. The disadvantage is that we start inflating the number of params in `draw_svg`, which could easily become unwieldy.

[2020-05-08 10:11] hyanwong commented on #579
With my suggestion in https://github.com/tskit-dev/tskit/pull/587#issuecomment-625742648 , colouring nodes by population would simply be a case of applying a particular style sheet. In fact, there's no reason not to have some sensible defaults in the standard style sheet so that nodes from different populations always appear in different predefined colours. *Or* the "simple" version would just giv

[2020-05-08 17:25] hyanwong opened #597 "Remove decimal places from ts.draw_svg axis for discrete recomb maps"
We should just plot integer numbers on the tree sequence x axis, not e.g. 10.00

[2020-05-08 20:03] daniel-goldstein opened #598 "KC Distance seg faults on non-sample leaves"
Likely stems from the synonymous use of leaf and sample everywhere, which is not very consistent or correct. Related to #575

[2020-05-11 08:46] jeromekelleher commented on #592
I've reopened this issue and renamed it @bhaller - you're right, this should be properly documented as it's a really helpful debugging tool.

[2020-05-11 09:08] jeromekelleher commented on #598
I think the right thing to do here is to change our definition of KC to be in terms of samples instead of leaves. Should be straightforward enough.

[2020-05-11 09:09] #70 closed

[2020-05-11 09:26] jeromekelleher commented on #597
Seems like a good thing to do if the coords are all integers. We could check via ``np.all(breakpoints == np.floor(breakpoints))`` or something. We'll have these all in local arrays for drawing anyway, so no big deal.

Let's not try to make it any more general than that.

[2020-05-11 09:32] jeromekelleher commented on #579
These are great ideas @hyanwong, but I think we should keep the focus of draw_svg clear, and not muddy it with extra jobs to do. It'll be a very complicated function anyway.

Since we've already got a Tree.draw() function, and we're committed to supporting it (we have to, it's used in loads of places and in [print](https://link.springer.com/protocol/10.1007/978-1-0716-0199-0_9) now), I don't think

[2020-05-11 09:35] hyanwong commented on #597
Agree. I previously wondered if we should somehow check whether the recombination map was a finite one, but I can't see an easy way to find this out after the simulation. Looking for integer breakpoints is a perfectly reasonable workaround. I'll implement this now (I was using it anyway).

[2020-05-11 14:40] benjeffery opened #603 "Improve metadata docs"
I've started an issue on this as there has been some discussion and wanted a central place for people to make suggestions, rather than on other PRs.

e.g.
https://github.com/tskit-dev/tskit/pull/595#issuecomment-626731968

[2020-05-11 19:01] petrelharp opened #605 "Site method to get genotypes"
Right now there doesn't seem to be an easy way to either (a) look up the genotype of a node at a particular site, or (b) get the array of genotypes, other than by iterating through the variants until you get there. Unless I'm just forgetting about the right way to do this?  This is an important thing to be able to do, it seems (and would be useful to me right now, in writing tests). How about
[cod

[2020-05-12 07:56] jeromekelleher commented on #605
This is an expensive operation though, as we need to have the tree built. No reason we can't offer a TreeSequence method to do it though (making it a method of Site would imply a lot of cross-linkage - the site would need to know the TreeSequence).

Normally I imagine doing this sort of thing for every site, so sequentially going over them is a good pattern and efficient. What's your usage pattern

[2020-05-12 09:52] #597 closed

[2020-05-12 11:02] jeromekelleher commented on #593
See proposal in #596 where we allow opting out of population reference integrity checking.

[2020-05-12 11:07] jeromekelleher opened #609 "Support file objects in Python API for dump/load"
#599 added support for file objects in the C API. We want to also support this in the Python API.

Semantics should follow what we've done in kastore, where the Python C interface is adapted to use a fileno. This would mean that we should be able to work with any kind of fileobj other than a BytesIO.

There's a choice to be made in whether we rename the parameter from ``path`` to ``file`` (we coul

[2020-05-13 13:18] petrelharp commented on #605
You're right, that my example was iterating over all the sites, in which case I could use `variants`. But, suppose that I want to look at the genotypes at a particular site (eg, I find the site with the largest allele freq difference between two pops); as far as I can tell we have no good way to do that.

[2020-05-13 13:51] benjeffery opened #613 "Variable length strings in struct codec?"
Currently the struct codec only provides fixed string fields (strings can be shorter but space still used, or longer and are truncated). It would be possible to support variable length strings.

[2020-05-13 13:52] benjeffery opened #614 "Struct codec perf"
No work has been done on this, there are some easy wins like grouping together calls to `pack` and `unpack` where possible. Maybe after #511

[2020-05-13 14:04] jeromekelleher commented on #605
For this example, you'd need to be iterating over the trees to get the allele frequencies. Maybe we could make it a method of the Tree? That way it's explicit what the cost is. So, ``Tree.decode_genotypes(samples=None)``, where samples can be any node.

I don't like putting in methods that are unnecessarily inefficient. I've seen people do things like ``tree_list = [tree.at(site.position) for site

[2020-05-13 14:14] petrelharp commented on #605
Sure, why not. I was a bit worried about getting *exactly* the right tree due to floating-point precision or something, but I guess you could do `ts.at(site.position).genotypes()`? It still feels kinda wierd, though.

I worry about this, too, but I think we just have to have a method to get genotypes at a particular site out, without extracting the entire genotype matrix. If we have a big warning

[2020-05-13 14:22] jeromekelleher commented on #605
Most of the time you'd be doing
[code]
right?

Otherwise, the first thing you'd think of is
[code]
which would look the same to most users. We should make it easy to write efficient code, and part of that is not giving unnecessary choices.

(Come to think of it, if we had this method, we could get rid of the ``vargen_t`` infrastructure in C, which would be a major bonus!)

[2020-05-13 15:35] hyanwong commented on #495
Another "standard metadata" field we should include is whether the sequence comes from a circular chromosome or a linear one. In fact, it might be useful to know it it is meant to represent the *whole*  chromosome or merely a portion of a larger one (I guess this is vital for circular chromosomes, where the distinction between a part of a circle and the whole circle is rather important). If we wan

[2020-05-13 15:51] hyanwong commented on #495
It sounds like we might want *2* metadata schemas at the ts level: one for standardised things like  `time_units` and one for user-content. Alternatively we could require users to derive any new schema from a standard base, but this seems a little more involved for the user?

[2020-05-13 16:02] hyanwong commented on #580
It would be really helpful in the future, once we decide on `time_units` (https://github.com/tskit-dev/tskit/issues/495) to include this in the label too (perhaps `time (years)`, `time (generations)` etc). It would reduce the scope for all kinds of interpretation error.

[2020-05-14 09:08] #575 closed

[2020-05-14 14:21] daniel-goldstein commented on #598
Fixed by #610

[2020-05-14 14:21] #598 closed

[2020-05-14 14:32] jeromekelleher commented on #402
Did you mean to reopen this @petrelharp? I thought the underlying SLiM issue had been resolved (not checking the value of ``ret``)?

[2020-05-14 14:32] petrelharp commented on #402
Gee, you noticed this quick. =) I'm just typing up the rationale...

[2020-05-14 14:49] bhaller commented on #402
I was curious so I just re-ran the model originally posted above.  It now halts in generation 107, with the error "tsk_node_table_add_row: Table column too large; cannot be more than 2**31 bytes."

[2020-05-14 14:52] bhaller commented on #402
Note that @molpopgen's model is not parallel to the SLiM model, I think, because the SLiM model makes 50 subpops each of size 1000000, whereas his model makes only one; so it doesn't chew through the table space required to cause the overflow, I think, unless I'm missing something.

[2020-05-14 14:53] petrelharp commented on #402
So, @mufernando has hit this again. Thanks to fixing https://github.com/MesserLab/SLiM/issues/62 we now get the correct error message, but I don't think it should be closed yet? We're running into the limit on the metadata column, so #343 should fix this - but, from [that issue](https://github.com/MesserLab/SLiM/issues/62), there's only a factor of 10 before the nodes run out of space, also. Peopl

[2020-05-14 14:55] petrelharp commented on #402
And, wow, @bhaller too on the lightning-quick github response!

[2020-05-14 14:56] bhaller commented on #402
I guess @jeromekelleher and I saw you reopen the bug and we were both like "Ooh, shiny thing!"  :->

So what are you considering this reopened bug to represent now?  I.e. what are you actually advocating here?  Switching to 64-bit indices in tskit?

[2020-05-14 14:58] petrelharp commented on #402
Right:  50 * 2 * 1M * 107 = 1e8 nodes is close to the upper limit. Presumably, in that model setting the simplification interval to something less than 100 (like, 50? 10?) should let it run?

[2020-05-14 14:58] petrelharp commented on #402
But, 1e8 is uncomfortably close to 1e7 or even 1e6, which is a plausible size that people would *like* to do simulations for.

[2020-05-14 15:04] petrelharp commented on #402
Yes, I guess so? Ideally optionally? I don't know the right way to do this.

[2020-05-14 15:05] jeromekelleher commented on #402
I think we will have to do 64 bit tables in tskit in the near future, but there's too many other things happening right now to consider it at the moment. We should discuss this over in #343. I've tagged 64 bit tables as a C API 1.0 issue.

[2020-05-14 15:06] petrelharp commented on #402
Perhaps I will close this, and change the title of #343 so it's not just about ragged arrays?

[2020-05-14 15:07] bhaller commented on #402
That seems right; I think this specific issue is fixed.

[2020-05-14 15:17] jeromekelleher commented on #402
I've changed the title of #343.

[2020-05-14 15:17] #402 closed

[2020-05-14 15:47] petrelharp commented on #343
Update here; #402 was indeed due to running out of space in the metadata column; other columns (eg the node ID column) are a factor of 10 smaller, but will still be hit pretty quick in sims of size 1M. Some additional discussion there.

[2020-05-14 18:20] hyanwong opened #615 "Minlex ordering means node label positioning no longer correct"
As we decide which side of a branch or node to put the label using `tree.left_sib(u)` (https://github.com/tskit-dev/tskit/blob/bbb020fcebc7fd00a700cd55b55ba8d2c4c8ec04/python/tskit/drawing.py#L626) which no longer always agrees with the minlex ordering.

[2020-05-14 18:27] jeromekelleher commented on #615
Ah. Probably the simplest thing to do is make a `get_left_sib`` method like this one [here](https://github.com/tskit-dev/tskit/blob/bbb020fcebc7fd00a700cd55b55ba8d2c4c8ec04/python/tskit/drawing.py#L737). This will be easier, as it can be done in a single pass through the nodes under the defined ordering.

So, instead of calling ``tree.left_sib(mutation_node) == NULL`` we'd call ``left_sib[mutation

[2020-05-14 18:29] jeromekelleher commented on #615
Are you happy to pick this one up @hyanwong?

[2020-05-14 18:47] hyanwong commented on #615
Yep. I can do this.

[2020-05-14 20:34] molpopgen opened #616 "Update table sorting API to allow for callback"
Sorting an edge table is quite expensive, and the current implementation can be out-performed by client code.  The main motivation here is to speed up forward simulations.

It has been proposed to allow a callback to be passed to `tsk_table_collection_sort` that would look something like:

[code]

I'd like to propose adding the following callback as a "built in" in tskit:

[code]

The idea is that

[2020-05-14 20:36] molpopgen opened #617 "Make more of the table sorting API public"
This piggy backs on #616 and the discussions on the tskit Slack.  For forward simulations, it seems handy to have more of the internal sorting functions made public.

[2020-05-15 07:59] jeromekelleher commented on #616
The way it works at the moment is that [table_collection_sort](https://github.com/tskit-dev/tskit/blob/bbb020fcebc7fd00a700cd55b55ba8d2c4c8ec04/c/tskit/tables.c#L7310) is a thin wrapper for the [table_sorter](https://github.com/tskit-dev/tskit/blob/bbb020fcebc7fd00a700cd55b55ba8d2c4c8ec04/c/tskit/tables.c#L4261) private "class".

My suggestion would be that we keep the existing API for ``tsk_table

[2020-05-15 08:02] jeromekelleher commented on #616
BTW, we'd change around the implementation of the ``edge_sorter`` class a bit - the way things are done is left over from older code organisations, and it missed out a few refactorings. But the basic idea would stay the same.

[2020-05-15 10:54] jeromekelleher commented on #617
I think #616 covers this, unless there's extra stuff not mentioned there, so I'm going to close it.

[2020-05-15 10:54] #617 closed

[2020-05-15 13:15] molpopgen commented on #616
Should.  You can set the sorter to do nothing like I was thinking, and then run your own separately.  The issue is that only a small subset of functional types in C++ convert to C function pointers without a lot of extra work to write trampolines.

[2020-05-15 13:38] benjeffery commented on #614
Use `struct.pack_into` and `struct.iter_unpack`
Use a separate code path for schemas that have known formats (i.e. no arrays).

[2020-05-15 14:48] jeromekelleher commented on #616
It should be possible wrap the C++ lambda fanciness with a simple function call though, right? So, you define your function

[code]
That should all just compile down to something simple enough then?

[2020-05-15 14:53] molpopgen commented on #616
In order for that to work, then your lamba expressions will need to do awful things like capture global variables.  What is usually needed is the reverse of your example. The closure should have the signature of the simpler function, and itself called some more complex function that takes advantage of captured variables.

[2020-05-15 16:36] jeromekelleher commented on #616
Oh, OK, I was thinking too much like Python then. Would you mind pasting in an outline of what this would look like ideally from the C++ client?

[2020-05-15 16:41] molpopgen commented on #616
Will do. I'll try to post an example that actually compiles and does
things, which means I'll make a mock of the setup, or at least some minimal
abstraction of it. It'll take a bit of doing.

On Fri, May 15, 2020, 9:40 AM Jerome Kelleher <notifications@github.com>
wrote:

[2020-05-15 16:43] bhaller commented on #616
I think the `void * tbd` in @molpopgen's original proposal would suffice for SLiM.  From that we could recover the simulation object, which would get us to the table collection, which would let us do the sort in parallel ourselves.  BTW, it would be good for the comparator function to be public in tskit, if it isn't already, so that one would not have to hard-code the details of that in the client

[2020-05-15 16:44] #615 closed

[2020-05-15 16:50] molpopgen commented on #616
The void • is normally provided to the callback, not by it.  Often, it is
something about the internal state of the function calling the callback.

We need to do more than just satisfy slim here. We need it to work in
general, which is a bit harder.

On Fri, May 15, 2020, 9:45 AM Ben Haller <notifications@github.com> wrote:

[2020-05-15 16:56] bhaller commented on #616
Oh, sorry, I misunderstood the purposed to the `void * tbd`; I took that to be the fairly standard mechanism whereby one would pass in a `void*` to tskit when registering one's callback, and tskit would simply pass the `void*` back again when calling the callback, allowing any arbitrary pointer to be provided back to the callback code.  If that wasn't the intent, then I'd suggest doing that; it's

[2020-05-15 16:59] molpopgen commented on #616
@bhaller -- if you want access to the pop object, then your callback becomes a closure, meaning that you bind (by one of the 3 or 4 possible mechanisms) your population, leaving a  final signature of `int(*)(table_collection *)`.  You'd do that via a lambda, `std::function`, etc., and then it would crash on the C side.  You'll see this in the example I write up.

If it helps, I can write in the co

[2020-05-15 17:14] bhaller commented on #616
No need; that is not what I was suggesting.  I would simply pass in a `SLiMSim*` to tskit when registering my callback, tskit would hang on to that `void*` for me and pass it back to my callback, and my callback would be a C function that would cast the `void*` back to a `SLiMSim*` and use that to get the table collection and do the sort.  Pure C, as far as tskit and the ABI are concerned (perhaps

[2020-05-15 17:32] molpopgen commented on #616
Let's get clarification from @jeromekelleher -- is the intent that the `void *` be an as-yet-undefined pointer to an internal state, or something to which the client code assign?  If the latter, that changes the signature of the expected callback.